/* CSS styles in this file are need for proper Baron work */
.wrapper {
    position: relative;
    overflow: hidden;
}
.scroller {
    height: 100%;
    overflow-y: scroll;
    border: 0;
}
.scroller::-webkit-scrollbar { /* Preventing webkit bug of horizontal scrolling */
    width: 0;
}
.scroller__bar { /* The bar. You should define width, right and background */
    position: absolute;    
    z-index: 1;
    right: 0;
    width: 10px;
    background: #999;
}
.scroller__bar_h {
    bottom: 2px;
    height: 8px;
}

.header__title {
    width: 100%;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /* For padding and border, if exist */
    background: #999;

    /* pointer-events: none; /* IE9+ https://developer.mozilla.org/en-US/docs/CSS/pointer-events */
}
.header__title_state_fixed {
    position: absolute;
    z-index: 1; /* Removing flicker effect */
}
.scroller {
  overflow-y: scroll;
  /* -webkit-overflow-scrolling: touch; *//* uncomment to accelerate scrolling on iOS */
}
.scroller::-webkit-scrollbar { /* Preventing webkit cross-direction scrolling bug */
  width: 0;
}
.scroller__track {
  display: none;
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  width: 10px;
}
.baron .scroller__track {
  display: block; /* Visible when scrolling is possible */
}
.scroller__bar { /* The bar. You should define width, right position and background */
  position: absolute;
  z-index: 1;
  right: 0;
  width: 4px;
  background: #999;
  background: rgba(#000,.2);
  @include transition(all 150ms);
  border-radius: 100px;
  .scroller__track:active &,
  .scroller__track:hover &{
    width: 10px;
    background: rgba(#000,.5);
  }

}