@mixin mobile {
  @media (max-width: 200px) {
    /*responsive - mobile*/
    @content;
  }
}

@mixin phone {
  @media (max-width: 480px) {
    /*responsive - phone*/
    @content;
  }
}

@mixin tablet-vertical {
  @media (max-width: 809px) {
    /*responsive - tablet-vertical*/
    @content;
  }
}
@mixin tablet-vertical {
  @media (max-width: 809px) {
    /*responsive - tablet-vertical*/
    @content;
  }
}

@mixin tablet {
  @media (min-width: 810px) and (max-width: 979px) {
    /*responsive - tablet*/
    @content;
  }
}


@mixin tablet-less {
  @media  (max-width: 979px) {
    /*responsive - tablet*/
    @content;
  }
}

@mixin desktop {
  @media (min-width: 980px) and (max-width: 1149px) {
    /*responsive - desktop*/
    @content;
  }
}

@mixin lage-desktop {
  @media (min-width: 1150px) {
    /*responsive - desktop-desktop*/
    @content;
  }
}

