/**
  +to-pixels(n)

  n =
    if auto, none, string => "string"
    if 1 => 1px
    if 1px, 1em => 1px, 1em
*/
@function to-pixels($n) {
  @if (type-of($n) == 'string') {
    @return $n;
  } @else if (unitless($n)) {
    @return 1px * $n;
  } @else {
    @return $n;
  }
}

@mixin placeholder() {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin rubberProportionality($height, $width) {
  padding-top: $height/$width * 100%;
}

@mixin fantom($target: '&:before', $margen: -0.3em) {

  #{$target} {
    content: "";
    height: 100%;
    width: 0;
    margin-left: $margen;
    display: inline-block;
    vertical-align: middle;

  }
}

/**
 * +justify-bloc($target)
 */

@mixin justify-bloc($target: 'li') {
  text-align: justify;
  line-height: 0;
  font: 1px;
  text-justify: newspaper;
  zoom: 1;
  text-align-last: justify;
  &:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;

  }
  > #{$target} {

    text-align: left;
    line-height: normal;
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
  }
}

/**
  +arrow($color, $width, $list)

  $list =
    t => ▼
    b => ▲
    r => ►
    l => ▼

    if r t       => ► + ▼
    if (r, 20)   => ► + width: 20px
    if (t, 20em) => ▼ + width: 20em
    if t (r, 20) => ▼ + (► + width: 20px)

  +arrow(red,10,t r (l,20) =>
    border-color:       transparent;
    border-style:       solid;
    border-width:       10px;
    margin:             -10px ;

    border-top-color:   red;
    border-right-color: red;

    border-left-color:  red;
    border-left-width:  20px;
*/
@mixin arrow($color: #fff,
$width: 10px,
$list: b) {
  @include size(0, 0);
  border-color: transparent;
  border-style: solid;
  border-width: to-pixels($width);
  margin: - to-pixels($width);
  @for $i from 1 through length($list) {
    $el: nth($list, $i);
    @if (length($el) == 1) {
      @if ($el == t) {
        border-top-color: $color;
      }
      @if ($el == b) {
        border-bottom-color: $color;
      }
      @if ($el == l) {
        border-left-color: $color;
      }
      @if ($el == r) {
        border-right-color: $color;
      }
    } @else {
      @if (nth($el, 1) == t) {
        border-top-color: $color;
        border-top-width: to-pixels(nth($el, 2));
      }
      @if (nth($el, 1) == b) {
        border-bottom-color: $color;
        border-bottom-width: to-pixels(nth($el, 2));
      }
      @if (nth($el, 1) == l) {
        border-left-color: $color;
        border-left-width: to-pixels(nth($el, 2));
      //margin-right: - to-pixels(nth($el,2)) / 2;
      }
      @if (nth($el, 1) == r) {
        border-right-color: $color;
        border-right-width: to-pixels(nth($el, 2));
      }
    }
  }
}

@mixin transition-property-transform($propety...) {
  @if($propety) {
    -webkit-transition-property: -webkit-transform, $propety;
       -moz-transition-property: -moz-transform, $propety;
        -ms-transition-property: -ms-transform, $propety;
         -o-transition-property: -o-transform, $propety;
            transition-property: transform, $propety;
  } @else {
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
}