.wp-caption
  display: block
  text-align: center
  margin-bottom: 20px

  &.alignright
    text-align: center
    float: right
    margin-left: 20px
  &.alignleft
    text-align: center
    float: left
    margin-right: 20px
  a
    text-decoration: none
    &:hover
      text-decoration: none
.wp-caption-text
  display: block
  padding: 5px
  margin: 0
  +box-sizing(border-box)
  position: relative
  &:before
    content: ""
    @extend  .bg-main-bg
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

.sticky
  .blog-item__header,
  .blog-item__content
    @extend .sticky-color
    time
      @extend .sticky-color2
    .bg-main-bg
      display: none
  .from-blog &
    padding: 5px 5px 10px
    margin-bottom: 20px
    @extend .sticky-color
    .separator__wrap
      p
        margin: 0

.gallery-caption

.bypostauthor
  > .comment-body
    padding-top: 10px
    padding-bottom: 10px
    margin-left: -10px
    @extend .bypostauthor-color
    .comment-author img
      left: 10px !important

.alignright
  text-align: right
.alignleft
  text-align: left
.aligncenter
  text-align: center

