.pagination
  margin-bottom: 20px
  @extend .bg-main
  .page-numbers
    display: inline-block
    +box-sizing(border-box)
    text-align: center
    text-decoration: none
    height: 35px
    min-width: 35px
    line-height: 35px
    padding: 0 10px
    position: relative
    z-index: 1
    @extend .c-basis
    &.current,
    &.active,
    &:hover
      @extend .pagination-c-hover
      @extend .pagination-bgc-hover
    &:before
      content: ""
      @extend .bg-main-bg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
    &.current
    &.next
    &.prev
.pagination-post
  margin-bottom: 20px
  @extend .bg-main
  a
    text-decoration: none !important
    display: inline-block
    +box-sizing(border-box)
    text-align: center
    height: 35px
    min-width: 35px
    line-height: 35px
    padding: 0 10px
    position: relative
    @extend .c-basis
    &.active,
    &:hover
      @extend .pagination-c-hover
      @extend .pagination-bgc-hover
      &:before
        display: none !important

    &:before
      content: ""
      @extend .bg-main-bg
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
  > span
    @extend .btn-col1

    display: inline-block
    +box-sizing(border-box)
    text-align: center
    height: 35px
    min-width: 35px
    line-height: 35px
    padding: 0 10px
    position: relative
