.comment-respond
  +clearfix()
  .form-allowed-tags
    clear: both
    float: left
    font-size: 10px
    line-height: 15px
    width: 50%

  .form-submit
    margin: 0
    text-align: right
    position: relative
    .comment &
      padding-bottom: 20px
    #submit
      @extend .btn
      line-height: 27px
      text-transform: uppercase

.comment-notes,
.comment-form-author,
.comment-form-email,
.comment-form-url
  width: 49%
  //float: left
  margin: 0
  +tablet-vertical()
    width: 100%

.comment-form-comment
  width: 49%
  float: right
  margin: -114px 0 0
  textarea
    min-height: 104px
  +tablet-vertical()
    width: 100%
    float: none
    margin: 0
  .logged-in-as + &
    width: 100%
    margin: 0
    float: none
.logged-in-as
  a + a
    @extend .btn
    margin-left: 10px
#cancel-comment-reply-link
  display: none