.comment-box
  margin: 20px 0
  padding: 15px 15px 20px
  @extend .bg-main
  h2
    margin-top: 0

.commentlist
  list-style: none
  ul, ol
    list-style: none

  .comment
    .comment-body
      margin-bottom: 50px
      padding-left: 100px
      position: relative
      .comment-author
        img
          @include size(80px, 80px)
          position: absolute
          left: 0
          right: 0

      .fn
        font-size: 20px
        margin-bottom: 10px
        display: block

        a
          @extend .c-basis
          &:hover
            @extend .c-basis

      .says
        display: none

      p
        margin-bottom: 10px

      .commentmetadata,
      .reply,
      .cancel-reply
        font-size: 12px
        display: inline-block
        &::before
          @extend .c-linck
          font-size: 16px
          vertical-align: middle
          margin-right: 5px
          text-decoration: none
        a
          @extend .c-basis
          &:hover
            @extend .c-basis

      .reply
        &::before
          @extend .icon-retweet
          @extend .icon-retweet:before
      .cancel-reply
        &::before
          @extend .icon-cancel
          @extend .icon-cancel:before
          font-size: 11px
      .commentmetadata
        margin-left: 20px
        &::before
          @extend .icon-calendar
          @extend .icon-calendar:before
          font-size: 14px

    .reply-form
      textarea
        min-height: 102px


      

    
  

