div.mejs-container .mejs-controls {
  @extend .c-media-element;
  background-image: none;
  height: 40px;
  padding-top: 5px;
  @include box-sizing(border-box);
}
.mejs-audio {
  margin-top: 10px;
}
div.mejs-controls .mejs-time-rail .mejs-time-total{
  @include border-radius(0);
  background-image: none;
  background-color: rgba(#fff, .2);
}
div.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  @include border-radius(0);
  background-image: none;
  background-color: rgba(#fff, .2);
}
div.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current{
  @include border-radius(0);
  color: #fff;
}
div.mejs-controls .mejs-time-rail .mejs-time-loaded{
  @include border-radius(0);
  background-color: rgba(#fff, .2);
}
div.mejs-controls .mejs-time-rail .mejs-time-current{
  @include border-radius(0);
  background-color: #fff;
}
.mejs-container{
  width: auto !important;
}
//div.mejs-controls .mejs-time-rail .mejs-time-loaded {
//  background: #21759b;
//}
//
//div.mejs-controls .mejs-time-rail .mejs-time-current {.blog-item__audio
//  background: #d54e21;
//}
