@import "bootstrap/variables"
@import "var-set"
@import "bootstrap/mixins"
@import "prefixer"
@import "mixinsAnimation"
@import "animation"
@import "mixinsResponsive"
@import "mixinsCostom"
@import "ceaser-easing/ceaser-easing"

@import "bootstrap/_reset"
@import "bootstrap/grid"
@import "bootstrap/layouts"
@import "bootstrap/scaffolding"
@import "bootstrap/type"
@import "bootstrap/navs"
@import "bootstrap/accordion"
@import "bootstrap/component-animations"
@import "bootstrap/alerts"
@import "bootstrap/progress-bars"
@import "bootstrap/close"
@import "bootstrap/labels-badges"

@import "FortAwesome/font-awesome"

@import "commentlist"
@import "../icon/style"
@import "../js/plugin/uniform/themes/_base/css/uniform"
@import "jquery.fancybox"
@import "bootstrap/forms"
@import "widget"
@import "mediaelementplayer"
//@import "isotope"
@import "animate-custom"
@import "wp-class-defalt"
@import "wp-commets"
@import "wp-pagination"
@import "../js/plugin/baron/baron"

.js-animate
  opacity: 0
  //+transition(1000ms opacity)
  &.show
    opacity: 1

.wrap-imag
  width: 100%
  height: 100%

  background-repeat: no-repeat
  /* lt ie8 */
  -ms-background-position-x: center
  -ms-background-position-y: center
  background-position: center center

  /* scale bg image proportionately */
  background-size: cover

  /* ie8 workaround - http://louisremi.github.io/background-size-polyfill/ */
  -ms-behavior: url('./backgroundsize.min.htc')
  img
    +opacity(0)

.hide
  display: none

html
  height: 100%
  min-height: 100%
  // background-image: url(../img/lightpaperfibers.png)
  background-position: 50% 50%
  @extend .bg-body

body
  min-height: 100%
  position: relative
  @extend .bg-body
  padding-bottom: 150px
  +box-sizing(border-box)
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center
  background-size: 80%
  +tablet()
    background-image: url(../img/bg.png)
  +desktop()
    background-image: url(../img/bg.png)
  +lage-desktop()  
    background-image: url(../img/bg.png)

  &.bg-imag
    //@extend .bg-body-face
    background-image: none 
    .fake-bg
      background-color: transparent
      -webkit-background-size: cover
      background-size: cover
      //background-attachment: fixed
      background-position: 50% 50%
      background-repeat: no-repeat

      display: block
      position: fixed
      left: 0
      right: 0
      top: 0
      height: 100%
      padding-bottom: 50px
      +opacity(0)
      -webkit-transform: translate(0, 0)
      -webkit-transform: translate3d(0, 0, 0)
      +transition(opacity 1000ms ceaser($easeOutCirc))
      &.show
        display: block
        +opacity(1)
      .lt-ie9 &
        /* The url is relative to the document, not to the css file! */
        /* Prefer absolute urls to avoid confusion. */
        -ms-behavior: url('./backgroundsize.min.htc')

.fake-bg
  display: none

.bg-main
  position: relative
  z-index: 1

.bg-main-bg
  display: block
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  z-index: -1

footer
  display: block
  position: absolute
  bottom: 0
  left: 0
  right: 0

  @extend .bg-main
  font-family: arial
  text-align: center
  height: 100px
  line-height: 100px
  font-size: 12px

.bgt-textur1
  background-image: url(../img/textur-1.png)
  background-repeat: repeat

.mt0
  margin-top: 0 !important

.mt10
  margin-top: 10px !important

.mt20
  margin-top: 20px !important

.mb20
  margin-bottom: 20px !important

.mb30
  margin-bottom: 30px !important

.tar
  text-align: right

.tac
  text-align: center

.logo-main
  display: block
  margin-top: 100px
  margin-bottom: 36px

header
  @extend .bg-main
  padding: 10px 20px
  margin-top: 40px
  margin-bottom: 40px
  display: block
  h1
    padding-right: 30px
    font-size: 30px
    margin: 0
    margin-right: 30px
    display: table-cell
    vertical-align: middle
    white-space: nowrap
    i
      margin-left: 5px
  p
    border-left: 1px solid #fff
    padding-left: 30px
    display: table-cell
    padding-top: 5px
    padding-bottom: 5px
    vertical-align: middle
  +tablet-vertical()
    display: inline-block
    +box-sizing(border-box)
    width: 100%
    h1
      display: inline-block
      border: 0
      margin-right: 0
      padding-left: 10px
      padding-right: 10px
      padding-bottom: 10px
      margin-bottom: 10px
      border-bottom: 1px solid
    p
      padding-left: 0
      display: block
      margin-bottom: 0
      border: none
.-blog-name
  text-transform: uppercase
  @extend .site-title

// ------------------------   icon  ------------------------
a[class*='icon-']
  text-shadow: 1px 1px 5px transparent
  text-decoration: none
  &:hover
    text-decoration: none

a [class*='icon-']
  text-decoration: none
  &:hover
    text-decoration: none

.icon_small
  font-size: 16px

.icon_mid
  font-size: 24px

.icon_lage
  font-size: 28px

.icon_big
  font-size: 40px

.icon_in-bubble
  width: 1em
  height: 1em
  vertical-align: middle
  position: relative
  text-align: center
  display: inline-block !important
  +border-radius(100px)
  border: 0.08em solid  
  // +box-shadow(inset 0 0 0 0.08em !important)
  font-style: normal
  line-height: 0em
  +fantom('&:after', 0)
  +box-sizing(border-box)
  span,
  &:before
    vertical-align: middle
    font-size: 0.5em
    .lt-ie9 &
      font-size: 20px
  span
    @extend .ff-basis
    font-size: 0.7em !important
    line-height: 0
  &.icon-next,
  &.icon-prev
    &:before
      font-size: 0.6em 
   
.icon_cub
  line-height: 0.8em
  width: 1em
  height: 1em
  text-align: center
  @extend .bg-main
  display: inline-block
  vertical-align: middle
  margin-left: 5px
  text-decoration: none !important
  &[href]
    @extend .btn_grey
  &:hover
    text-decoration: none !important
  &:before
    font-size: 0.7em

.list-marker
  list-style: none
  line-height: 24px
  margin-left: 0
  li
    padding-left: 30px
    margin-bottom: 6px
    position: relative
    i
      position: absolute
      left: 0
      top: 0.3em

.icon-border
  border: solid 1px $borderColor
  vertical-align: middle
  text-align: center
  line-height: 1em
  width: 1em
  height: 1em
  display: inline-block
  @include box-sizing(border-box)
  @include border-radius(3px)
  &:before
    font-size: 0.7em
    vertical-align: bottom

.rating
  unicode-bidi: bidi-override
  direction: rtl
  display: inline-block
  span
    color: #fff
    text-shadow: inset 1px 1px 2px rgba(#000, 0.5)
    padding: 0 2px
    opacity: .5
    +transition(all 100ms)
    &.active
      cursor: pointer
      &, & ~ span
        opacity: 1
        @extend .c-linck
        text-shadow: 1px 1px 2px rgba(#000, 0.5)

// ------------------------   separator icon  ------------------------
.separator__wrap
  position: relative
  display: block
  margin-bottom: 20px
  &:last-child
    margin-bottom: 0
  .tile_date &
    margin: 0
  .separator__content
    margin: 0
    p:last-child
      margin-bottom: 0
  .number,
  .icon_wrap,
  .separator
    text-decoration: none
    i
      vertical-align: middle
  a.separator
    color: inherit
    &:hover
      text-decoration: none
      color: inherit
      +transition(100ms all)
      .icon-next::before
        -webkit-animation: toRightFromLeft 0.3s forwards
        -moz-animation: toRightFromLeft 0.3s forwards
        animation: toRightFromLeft 0.3s forwards
  &.btn
    line-height: 27px
    text-transform: uppercase
    display: inline-block
    .separator__content
      width: auto
    .separator
      padding-left: 5px
      line-height: 2em


.separator_left
  .separator__content
    display: table-cell
    padding-left: 10px
    width: 1000px
  .icon_wrap,
  .number
    vertical-align: middle
    display: table-cell
   
  .separator
    vertical-align: middle
    display: table-cell
    border-right: 1px solid
    padding-right: 10px
    
    
.separator_right
  .separator__content
    display: table-cell
    padding-right: 10px
    width: 1000px

  .icon_wrap,
  .number
    vertical-align: middle
    display: table-cell
  .separator
    vertical-align: middle
    display: table-cell
    border-left: 1px solid
    border-right: 0
    padding-left: 10px
    padding-right: 0px
    line-height: inherit

.separator_top
  .separator__content
    padding-top: 10px
  .icon_wrap,
  .separator
    text-align: center
    bottom: auto
    display: block
  .separator
    border-bottom: 1px solid
    padding-bottom: 15px

.caroufredsel_wrapper
  cursor: default !important
  +transition(height 500ms)
  ul > li
    > .img-link,
    > .cont,
    > .tile_img
      display: block
      height: 100%

// ------------------------   end icon  ------------------------
// ------------------------   grid metro  ------------------------
.grid-metro
  margin-top: 55px
  margin-bottom: 55px
  margin-left: 0 !important
  margin-right: -20px !important
  overflow: hidden
  +tablet-vertical()
    margin-right: 0 !important
  > [class*="span"]
    margin-left: 0
    margin-right: 20px
    overflow: hidden

  @mixin grid-core-span-x($gridColumns, $gridColumnWidth, $gridGutterWidth)
    @while $gridColumns > 0
      > .span#{$gridColumns}
        @include grid-core-span($gridColumns, $gridColumnWidth, $gridGutterWidth)
        margin-bottom: $gridGutterWidth

      .inch#{$gridColumns}
        @include grid-core-inch($gridColumns, $gridColumnWidth, $gridGutterWidth)
        $gridColumns: $gridColumns - 1

  @mixin grid-core-span($columns, $gridColumnWidth, $gridGutterWidth)
    width: ($gridColumnWidth * $columns) + ($gridGutterWidth * ($columns - 1))

  @mixin grid-core-inch($columns, $gridColumnWidth, $gridGutterWidth)
    height: (5px * $columns) + ($gridColumnWidth * $columns) + ($gridGutterWidth * ($columns - 1))

  @include grid-core-span-x($gridColumns, $gridColumnWidth, $gridGutterWidth)

  +phone()
    .span6
      width: 100%
      +box-sizing(border-box)
// ------------------------   grid metro  ------------------------
// ------------------------   menu  ------------------------
+tablet-vertical()
  .sidebar.js-sade-bar
    position: fixed !important
    top: 0
    bottom: 0
    left: 100%
    width: 320px !important
    padding-right: 20px
    z-index: 10
    +transition(margin-left 150ms)
    &.active
      margin-left: -300px
    .sidebar__wrap
      overflow-y: auto
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 20px

.sidebar_icon
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3)
  font-size: 39px
  text-decoration: none
  position: absolute
  display: none
  left: -50px
  top: 20px
  +tablet-vertical()
    display: block
  a
    @extend .c-menu-btn-c
    &:hover
      @extend .c-menu-btn-c

.menu-box
  position: absolute !important
  top: 0
  bottom: 100px
  right: 100%
  width: 300px
  z-index: 10
  @extend .bg-main
  @include transition(margin-right 150ms)
  &.active
    margin-right: -300px
    .menu-btn-box
      left: 300px
    .menu-wrap
      left: 0
    ~ .container-wrap
      overflow: hidden
      .container
        position: relative
        right: -300px
        @include transition(right 150ms)

.menu-wrap
  margin: 0
  padding: 0
  position: fixed
  top: 0
  bottom: 0
  left: -300px
  width: 300px
  overflow: hidden
  padding: 0
  @include transition(left 150ms)

.menu
  margin: 0
  padding: 0
  list-style: none
  overflow: auto
  > .item
    margin: 0
    list-style: none
    margin: 0 25px
    line-height: 26px
    @extend .c-menu
    font-size: 20px
    @include translate3d()

    //position: relative
    &:first-child
      margin-top: 50px

    + .item
      padding-top: 1px
      &::before
        content: ""
        display: block
        margin-top: -1px
        width: 100%
        border-top: 1px solid
        +opacity(.3)
    > a
      @extend .c-menu

    a
      display: block
      text-decoration: none
      padding: 14px 25px
      margin: 0 -25px
      @include transition(background-color 100ms)
      i
        font-size: 30px
        padding-right: 1px
        @include transition(opacity 100ms)
        @include opacity(0)
        float: right
        overflow: hidden
        &::before
          display: inline-block

    &.active
      > a
        @extend .bg-hover-menu
    &:hover
      > a
        position: relative
        &::before
          content: ""
          @extend .bg-main-bg
    &.active,
    &:hover
      > a
        @extend .c-menu
        text-decoration: none
        i
          @include opacity(100)
          &:before
            -webkit-animation: toRightFromLeft .3s forwards
            -moz-animation: toRightFromLeft .3s forwards
            animation: toRightFromLeft .3s forwards
    &.in-submenu
      a i:before
        +rotate(90deg)
      a i:after
        margin-left: 1px
      &.active,
      &:hover
        > a i:before
          +rotate(90deg)
          -webkit-animation: toRightFromLeftAndBootom .3s forwards
          -moz-animation: toRightFromLeftAndBootom .3s forwards
          animation: toRightFromLeftAndBootom .3s forwards
    //&.in-submenu
    &.active
      .sub-menu
        > .item > a
          height: auto
          min-height: 40px
          max-height: 40px
    //opacity: 1
    .sub-menu
      margin: 0
      margin-left: 30px
      > .item
        padding: 0 25px 0 0
        line-height: 0
        list-style: none
        > a
          margin-left: -30px
          +transition(all 300ms)
          +box-sizing(border-box)
          //opacity: 0
          height: 0
          overflow: hidden
          font-size: 15px
          line-height: 40px
          vertical-align: middle
          padding-top: 0
          padding-bottom: 0
          position: relative
          z-index: 1
          @extend .bg-main
          @extend .c-menu
          &:before
            content: ""
            display: inline-block
            +size(4px, 4px)
            background-color: #fff
            vertical-align: middle
            margin-right: 5px
            margin-left: -10px
          &:after
            content: ""
            position: absolute
            left: 0
            right: 0
            top: 0
            bottom: 0
            +transition(all 300ms)
            @extend .bg-main-bg
            +opacity(0)
            display: none !important
          &:hover
            @extend .c-menu
            position: relative
            &:after
              display: block !important
              @extend .bg-main-bg
        &.active > a
          cursor: default
          @extend .bg-hover-menu
          &:after
            display: none !important

.menu-btn-box
  position: fixed
  left: 0
  top: 20px
  padding-left: 14px
  @include transition(left 150ms)
  //@include translate3d()
  -webkit-transform: translate3d(0, 0, 0)
  a,
  span
    cursor: pointer
    @extend .c-menu-btn-c
    text-shadow: 1px 1px 4px rgba(#000, 0.3)
    font-size: 39px
    text-decoration: none
    margin-right: 5px
    &:hover
      @extend .c-menu-btn-c
      text-decoration: none
  

.container-wrap
  position: relative
  overflow: hidden
  min-height: 100%
  &.right
    overflow: hidden
    .container
      position: relative
      left: -300px
      @include transition(left 150ms)

// ------------------------   tile  ------------------------
@mixin patetnLinck()
  .grid-metro &
    width: 100%
    height: 100%
  .tile__icon-box,    
  .wrap-imag,
  > i
    +translate3d()
    +transition-duration(100ms)
    +transition-property-transform()
  &:hover
    .tile__icon-box,
    .wrap-imag,
    > i
      +scale(1.1)
  &:active
    .tile__icon-box,
    .wrap-imag,
    > i
      +scale(0.9)

.tile-text-abstract
  .grid-metro &
    width: 100%
    height: 100%
  .sidebar &
    > .bg-main-bg
      display: none
  position: relative
  display: block
  +box-sizing(border-box)
  +fantom()
  > .dis
    max-height: 100%
    display: inline-block
    vertical-align: middle
    width: 100%
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    &:first-child
      margin-top: 0
  p,
  .separator__wrap
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  a
    @extend .c-linck

.tile_hover
  position: relative
  display: inline-block
  .dis
    +fantom()
    padding: 0 !important
    text-align: center
    display: inline-block
    vertical-align: middle
    @include opacity(0)
    position: absolute
    top: 0
    left: 0
    +square(100%)
    @include transition(all 100ms ease-in)
    [class*=icon]
      text-decoration: none
      @include translate(0, 20px)
      @include transition-property-transform()
      @include transition-duration(300ms)
      vertical-align: middle
      margin: 0 5px
      position: relative
      z-index: 1
      color: #ffffff
      &:hover
        color: #fff
    &:after
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      +square(100%)
      @include opacity(.7)
      background-color: #000
      .lt-ie9 &
        display: none
  &:hover
    .dis
      @include opacity(100)
    [class*=icon]
      @include translate(0, 0)

.tile_basis-linc
  @extend .bg-main
  text-align: center
  position: relative
  display: block
  +patetnLinck()
  .grid-metro &
    width: 100%
    height: 100%
  .sidebar &
    height: 140px
    width: 100%
    > .bg-main-bg
      display: none

  &:hover
    text-decoration: none
    color: #fff
  i
    @extend .c-tile-icon
    line-height: 150px
    font-size: 60px
    position: absolute
    left: 0
    right: 0
  span
    @extend .c-tile-icon
    bottom: 10px
    left: 10px
    right: 10px
    position: absolute
    font-size: 20px
    text-align: left

.tile_carousel
  .carousel_arrow,
  .caroufredsel_wrapper,
  ul,
  li
    height: 100% !important
  li
    > .img-link
      position: relative
      display: block
      height: 100%

.tile_img
  .sidebar .content &
    margin: -15px -15px -20px
  overflow: hidden
  @extend .tile-text-abstract
  &::before
    display: none
  &[href]
    +patetnLinck()

.tile_img-hover
  display: inline-block

.tile_video
  @extend .tile_img

.tile_img-dis
  @extend .tile_img
  .tile__icon-box
    bottom: 25%
  .dis
    @extend .bg-main
    +box-sizing(border-box)
    padding: 10px 15px
    position: relative
    .grid-metro &
      position: absolute
      bottom: 0
      left: 0
      right: 0
    z-index: 1
    time
      font-size: 11px
    h3
      margin-top: 0
    p
      margin-bottom: 0
    .csstransforms &:before
      content: ""
      position: absolute
      left: 40px
      top: -12px
      +rotate(45deg)
      width: 40px
      height: 40px
      z-index: -1
  &.tile-type1
    .bg-main-bg
      display: none
    .dis
      @extend .tile_type1
      &::before
        @extend .tile_type1

  &.tile-type2
    .bg-main-bg
      display: none
    .dis
      @extend .tile_type2
      &::before
        @extend .tile_type2

.tile__icon-box
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  text-align: center
  +fantom()
  i
    vertical-align: middle
    display: inline-block
    @extend .c-basis

.tile_date
  @extend .tile_img
  @extend .bg-main
  .box
    @extend .bg-main
    @extend .c-basis
    padding: 7px 10px
    position: absolute
    bottom: 0
    left: 0
    right: 0
    line-height: 20px
    .dis
      position: absolute
      bottom: 100%
      left: 5px
      right: 5px
      margin-bottom: 5px
    .dey
      font-size: 30px
      line-height: 1em
    .mon
      font-size: 14px
  &.tile-type1
    .box
      @extend .tile_type1
  &.tile-type2
    .box
      @extend .tile_type2

.tile_twitter
  @extend .bg-tw
  @extend .c-tw
  padding: 22px 8px
  +box-sizing(border-box)
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      width: 284px
      float: left
  .author
    text-decoration: none
    font-size: 20px
    @extend .ff-main
  time
    font-style: italic
  p
    margin-bottom: 10px
    max-height: 82px
    overflow: hidden
    a
      @extend .c-linck
  .content &
    margin: -15px -15px -20px
  +tablet-vertical()
    .row-fluid
      .span2
        float: left
        width: 14.77788%
      .span10
        float: left
        width: 82.95558%
        margin-left: 2.12766%
  .sidebar &
    .row-fluid
      .span2
        float: none !important
        width: 100% !important
        text-align: center
        margin-bottom: 10px
      .span10
        float: none !important
        width: 100% !important
        margin-left: 0 !important

.tile_search
  @extend .bg-main
  padding: 22px 8px
  +box-sizing(border-box)
  h3
    margin-top: 0
    line-height: 23px
    margin-bottom: 20px
  input
    float: left
    width: 73%

  .btn
    float: left
    width: 27%

.tile_partners
  $height: 140px
  height: $height
  @extend .bg-main
  margin-bottom: $gridGutterWidth
  vertical-align: middle
  text-align: center
  .fantom
    width: 0
    height: $height
    display: inline-block
    vertical-align: middle
  img, a
    display: inline-block
    vertical-align: middle
    max-height: 70%
    max-width: 90%
    width: auto
    height: auto
  &[href]
    @extend .btn_grey
    display: block
    text-decoration: none
    &:hover,
    &:focus
      text-decoration: none

.tile_text
  @extend .bg-main
  @extend .tile-text-abstract
  @extend .tile_carousel
  .sidebar &
    > .bg-main-bg
      display: none
    > .dis
      padding: 0
  > .dis
    .scroller
      +box-sizing(border-box)
      padding: 15px 15px 20px

  hr
    margin-top: 10px
    margin-bottom: 10px
  &.tile-type1,
  &.tile-type2
    .bg-main-bg
      display: none
  &.tile-type1
    @extend .tile_type1
  &.tile-type2
    @extend .tile_type2
  #calendar_wrap
    margin: 0

.tile_text-bgc
  @extend .tile_text
  @extend .tile_type1
  .bg-main-bg
    display: none

// tile not metro layout
.tile_color1,
.tile_color2
  @extend .tile-text-abstract
  padding: 15px 5% 20px
  margin-bottom: 20px
  &::before
    display: none

.tile_color1
  @extend .tile_type1

.tile_color2
  @extend .tile_type2

// ------------------------   tile end  ------------------------
// ------------------------   puzzles  ------------------------
.puzzles
  +clearfix()
  .item
    //float: left
    position: relative
    .wrap
      +rubberProportionality(768, 1200)
    .cont
      +box-sizing(border-box)
      overflow: hidden
      position: absolute
      bottom: 0
      top: 0
      left: 0
      right: 0
  &.puzzles_col4
    .item,
    .grid-sizer
      width: 25%

  &.puzzles_col3
    .item,
    .grid-sizer
      width: 33.33333%

  &.puzzles_col2
    .item,
    .grid-sizer
      width: 50%

  +tablet()
    &.puzzles_col4,
    &.puzzles_col3
      .item,
      .grid-sizer
        width: 33.33333%
    &.puzzles_col2
      .item,
      .grid-sizer
        width: 50%

  +tablet-vertical()
    &.puzzles_col4,
    &.puzzles_col3,
    &.puzzles_col2
      .item,
      .grid-sizer
        width: 50%
  +phone()
    &.puzzles_col4,
    &.puzzles_col3,
    &.puzzles_col2
      .item,
      .grid-sizer
        width: 100%
  +mobile()
    &.puzzles_col4,
    &.puzzles_col3,
    &.puzzles_col2
      .item,
      .grid-sizer
        width: 100%

// ------------------------   puzzles end  ------------------------
// ------------------------   carousel  ------------------------
.carousel
  margin: 0
  padding: 0
  list-style: none
  ~ [class*='icon-']
    position: relative
    display: inline-block !important
    @include opacity(50)
    @include transition(opacity 100ms)
    @extend .c-linck
    text-decoration: none
    &:hover,
    &:active
      @include opacity(100)
  li
    display: inline-block
    float: left
    position: relative
    overflow: hidden
    height: 100%

  .dis,
  .gallery-caption
    position: absolute
    bottom: 0
    right: 0
    left: 0
    background-color: #000
    background-color: rgba(#000, .3)
    padding: 15px
    min-height: 20px
    +transition(500ms)
    +translate(0, 100%)
  &:hover,
  .carousel_arrow:hover &
    .dis,
    .gallery-caption
      +translate(0, 0)
  a
    display: inline-block
  img
    display: inline-block

.progressBar
  position: absolute
  top: 0
  left: 0
  background-color: #fff
  z-index: 100
  @include opacity(.7)
  +transition(all 50)
  +box-shadow(0 1px 2px rgba(#000, 0.1))
  height: 5px

.paginationCarusel
  position: absolute
  top: 100%
  left: 0
  right: 0
  margin-top: -8px
  text-align: center
  a
    +size(10px, 10px)
    padding: 0
    position: relative
    margin: 0 2px

.carousel_arrow
  .sidebar &
    margin: -15px -15px -20px
  .icon-next,
  .icon-prev
    +transition(500ms)
    +transition-property-transform(opacity)
    opacity: 0
    z-index: 100
    &:before
      +transition(300ms)
      +transition-property-transform()
  .icon-next
    +translate(100%, 0)
    &:active:before
      +translate(.4em, 0)

  .icon-prev
    +translate(-100%, 0)
    &:active:before
      +translate(-.4em, 0)

  &:hover
    .icon-next,
    .icon-prev
      opacity: 1
      +translate(0, 0)
  +tablet-less()
    .icon-next,
    .icon-prev
      opacity: 1
      +translate(0, 0)

.carousel_arrow-left-right-middle
  position: relative
  .icon-next
    position: absolute
    right: .2em
    top: 50%
    margin-top: -.5em
  .icon-prev
    position: absolute
    left: .2em
    top: 50%
    margin-top: -.5em

.carousel_arrow-left-top
  position: relative
  .icon-next
    position: absolute
    left: 1.3em
    top: .3em
  .icon-prev
    position: absolute
    left: .2em
    top: .3em

.carousel_arrow-left-bottom
  position: relative
  .icon-next
    position: absolute
    left: 1.3em
    bottom: .3em
  .icon-prev
    position: absolute
    left: .2em
    bottom: .3em
  .dis
    padding-left: 100px

.carousel_arrow-right-top
  position: relative
  .icon-next
    position: absolute
    right: .2em
    top: .3em
  .icon-prev
    position: absolute
    right: 1.3em
    top: .3em

.carousel_arrow-right-bottom
  position: relative
  .icon-next
    position: absolute
    right: .2em
    bottom: .3em
  .icon-prev
    position: absolute
    right: 1.3em
    bottom: .3em
  .dis
    padding-right: 100px
// ------------------------   carousel end  ------------------------
.map_wrap
  position: relative
  +rubberProportionality(460, 940)
  margin-bottom: 20px
  color: #000
  +tablet-vertical()
    padding-top: 0
    height: 400px
  img
    max-width: none
  p
    margin-bottom: 10px
  .map,
  iframe
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%

.feedback
  @extend .bg-main
  padding: 15px 15px 20px
  h2
    margin-top: 0
  textarea
    min-height: 102px
  .row-fluid
    line-height: 0
  .ajax-loader
    display: none
  span.wpcf7-not-valid-tip
    background: transparent
    width: auto
    top: 0
    left: 0
    right: 0
    bottom: 0
    +box-sizing(border-box)
    padding-left: 76px
    color: $red
    border-color: $red

  span.wpcf7-form-control-wrap
    display: block
    margin-bottom: 10px
    input
      margin-bottom: 0px

.from-blog
  time
    font-size: 11px
  h3
    margin-top: 0
    a
      color: inherit
      &:hover
        color: inherit

.blog-list
  margin: 0
  padding: 0
  list-style: none

.blog-item
  margin-bottom: 20px

.blog-item__content
  > .separator__wrap:last-child
    margin-bottom: 0

.blog-item__gallery
  > div
    padding-bottom: 0 !important
  .paginationCarusel
    display: none !important

.blog-item__audio
  position: relative
  z-index: 1
  //height: 40px
  .proportion-ifrem,
  .mejs-container
    margin-bottom: 0

.blog-item__video
  position: relative
  //padding-bottom: 56.25%
  //height: 0
  .proportion-ifrem,
  .mejs-container
    margin-bottom: 0
  .youtube-wrap
    position: relative
    +rubberProportionality(315, 560)
  .vimeo-wrap
    position: relative
    +rubberProportionality(281, 500)
  .fancybox-inner &
    overflow: hidden
  .mejs-overlay, .mejs-poster
    width: 100% !important
    height: 100% !important
  .mejs-container .mejs-controls
    position: absolute
    bottom: 0
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100% !important
    height: 100% !important
  .mejs-container
    position: relative

.proportion-ifrem
  position: relative
  margin-bottom: 20px
  line-height: 0
  +box-sizing(border-box)
  &::after
    content: ""
    background-image: url(../img/loader.gif)
    background-repeat: no-repeat
    background-position: center center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1 
  &:before 
    content: ""
    position: absolute
    top: 50%
    left: 50%
    width: 120px
    margin-left: -60px
    height: 14px
    margin-top: -7px
    background-color: #fff
    z-index: -2
    // +transition(all 200ms)
  //&.onLaded
    &::after
      +opacity(0)
    &:before
      +opacity(0)
  //&.onLaded
    &::after
      +opacity(0)
    &:before
      +opacity(0)
  //&.transitionEnd
    &::after
      display: none
    &:before
      display: none

  .proportion-ifrem__wrap
    position: relative
    iframe
      top: 0
      left: 0
      visibility: visible
    + *
      line-height: 20px
      margin-top: 5px
      display: block

  iframe
    width: 100%
    visibility: hidden
  &.show iframe
    visibility: visible

.blog-item__header
  @extend .bg-main
  min-height: 70px
  padding-top: 0.1px
  h3
    margin-bottom: 2px
  a
    @extend .c-linck-in-content
  time
    +square(70px)
    float: left
    display: block
    text-align: center
    margin-right: 13px
    .dey
      margin-top: 16px
      margin-bottom: 5px
      font-size: 36px
      display: block
    .mon
      font-size: 14px
      text-transform: uppercase
    h3
      overflow: hidden
      margin-bottom: 8px
  .blog-item__prop
    overflow: hidden
    .split
      margin: 0 10px
    i
      margin-right: 6px

.blog-item__footer
  +clearfix()
  padding: 0
  position: relative
  h3
    margin-top: 0
  .social
    float: left
    padding-right: 20px
    +tablet-vertical()
      float: none
    a
      text-decoration: none
      margin-right: 4px
      color: inherit
      &:hover
        color: inherit
  .blog-item__tagcloud
    padding-left: 20px
    overflow: hidden
    max-width: 40%
    +tablet-vertical()
      padding-left: 0
      padding-top: 10px
      max-width: 100%

  .split
    position: absolute
    display: inline-block
    height: 100%
    width: 0px
    border-left: 1px solid
    vertical-align: top
    +tablet-vertical()
      display: none

  .Rate
    padding-left: 20px
    display: inline-block
    vertical-align: top

.content
  +clearfix()
  @extend .bg-main
  padding: 15px 15px 20px
  hr
    margin: 20px 0
  time
    font-size: 10px
  h2
    margin-bottom: 25px
  a
    text-decoration: underline
    &:hover
      text-decoration: none

.pagination
  margin-top: 20px
  ul
    margin-left: 0
    li
      display: inline-block
      a,
      span
        +box-sizing(border-box)
        text-align: center
        @extend .bg-main
        @extend .c-basis
        display: block
        text-decoration: none
        height: 35px
        min-width: 35px
        line-height: 35px
        padding: 0 10px
      a
        &:hover
          @extend .pagination-c-hover
          @extend .pagination-bgc-hover
    &.current,
    &.active
      a
        @extend .pagination-c-hover
        @extend .pagination-bgc-hover
    .disabled
      @include opacity(50)

.sub-menu
  margin-top: 20px
  time
    display: block
    line-height: 10px
  > .separator__wrap
    +text-overflow
    white-space: normal
    height: 38px
    color: inherit
    text-decoration: none
    &:hover,
    &.active
      @extend .btn-col1

  +tablet-vertical()
    .span3
      text-align: center
      margin-bottom: 10px

.preview-type-post
  position: relative
  margin-bottom: 20px
  padding-top: 140 / 220 * 100%
  @extend .bg-main
  .cont
    overflow: hidden
    position: absolute
    color: #fff
    display: block
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    text-align: center

    &:hover
      text-decoration: none
      .carousel_arrow,
      .carousel,
      .wrap-imag,
      & > img
        -webkit-filter: grayscale(100%)
        filter: grayscale(100%)
      .icon_wrap,
      i
        opacity: 1 !important
    i
      position: absolute
      left: 50%
      top: 50%
      margin-top: -0.5em
      font-size: 60px
      vertical-align: middle
      margin-left: -0.5em
      color: #fff
      &:hover
        color: #fff
    .carousel .dis
      display: none
    .icon-next,
    .icon-prev
      font-size: 26px

    .carousel_arrow,
    .caroufredsel_wrapper
      height: 100% !important
      > ul
        height: 100% !important

    .carousel_arrow,
    .wrap-imag,
    & > img
      +transition(300ms all)
      + .icon_wrap,
      + i
        text-shadow: 0 0 10px rgba(#000, 0.5)
        opacity: 0
        +transition(300ms all)

.filter-portfolio
  display: inline-block
  list-style: none
  margin: 0 0 20px 10px
  li
    display: inline-block

.testimonial
  blockquote
    margin-bottom: 0

.testimonial__arrow
  border-left-color: transparent
  border-right-color: transparent
  border-bottom-color: transparent
  border-style: solid
  border-width: 20px
  margin-left: 12px
  height: 0
  width: 0
  line-height: 0
  display: block
  margin-bottom: -10px

.testimonial__wrap
  margin-bottom: 20px

.testimonial__person
  +clearfix()
  img
    margin-right: 10px
  h3,
  h4
    margin: 0

.team
  img
    margin-bottom: 25px
.service
  .btn
    margin-bottom: 20px

@import "responsive"