.ff-main
  /* plex-var plex_header_font  */
  font-family: $altFontFamily

  /* plex-var plex_header_font_weight  */
  font-weight: normal

  /* plex-var plex_header_font_style  */
  font-style: normal

.ff-basis
  /* plex-var plex_text_font */
  font-family: $baseFontFamily

  /* plex-var plex_text_font_weight  */
  font-weight: normal

  /* plex-var plex_text_font_style  */
  font-style: normal

  /* plex-var plex_text_font_size  */
  font-size: $baseFontSize

h1
  /* plex-var plex_h1_font_size  */
  font-size: 35px

// ~38px
h2
  /* plex-var plex_h2_font_size  */
  font-size: 30px

// ~32px
h3
  /* plex-var plex_h3_font_size  */
  font-size: 20px
  line-height: 24px

// ~24px
h4
  /* plex-var plex_h4_font_size  */
  font-size: 16px

// ~18px
h5
  /* plex-var plex_h5_font_size  */
  font-size: $baseFontSize

h6
  /* plex-var plex_h6_font_size  */
  font-size: $baseFontSize * 0.85

.c-basis
  /* plex-var plex_main_c  */
  color: #fff


.bg-body
  /* plex-var plex_site_bgc */
  background: #132235
  // /* plex-var plex_site_bgc__webkit  */
  // background: -webkit-radial-gradient(circle closest-corner, rgba(#132235, 0.4), #132235)
  // /* plex-var plex_site_bgc__moz  */
  // background: -moz-radial-gradient(circle closest-corner, rgba(#132235, 0.4), #132235)
  // /* plex-var plex_site_bgc__ms  */
  // background: -ms-radial-gradient(circle closest-corner, rgba(#132235, 0.4), #132235)
  // /* plex-var plex_site_bgc__o  */
  // background: -o-radial-gradient(circle closest-corner, rgba(#132235, 0.4), #132235)
  // /* plex-var plex_site_bgc__rad  */
  // background: radial-gradient(circle closest-corner, rgba(#132235, 0.4), #132235)

.bg-body-face
  /* plex-var plex_site_bgc */
  background: #132235


.bg-main-bg
  /* plex-var plex_site_sublayer_bgc  */
  background-color: #fff
  /* plex-var plex_site_sublayer_bgc_op */
  opacity: .2
  /* plex-var plex_site_sublayer_bgc_op__ie */
  filter: alpha(opacity=20)
  /* plex-var plex_site_sublayer_bgc_op__ie1 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
  /* plex-var plex_site_sublayer_bgc_op__ie2 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20)

.btn-col
  /* plex-var plex_btn_type1_bgc  */
  background-color: #003366
  /* plex-var plex_btn_type1_c  */
  color: #fff
  &:hover,
  &:focus
    /* plex-var plex_btn_type1_bgc__hover  */
    background-color: #003366 - #111
    /* plex-var plex_btn_type1_c  */
    color: #fff

    
.c-linck-in-content
  /* plex-var plex_link_c_in_content  */
  color: #fff
  &:hover
    /* plex-var plex_link_c_in_content__hover  */
    color: #fff - #111

.c-linck
  /* plex-var plex_link_c  */
  color: #003366
  &:hover
    /* plex-var plex_link_c__hover  */
    color: #003366 - #111

.site-title
  /* plex-var plex_site_title_c  */
  color: #3096d3

.btn-col1
  /* plex-var plex_btn_type2_bgc */
  background-color: #2c86bc
  /* plex-var plex_btn_type2_c  */
  color: #fff
  &:hover,
  &:focus
    /* plex-var plex_btn_type2_bgc__hover  */
    background-color: #2c86bc - #111
    /* plex-var plex_btn_type2_c  */
    color: #fff

.btn-grey-c
  /* plex-var plex_btn_op_c  */
  color: #fff

.btn-grey-c_h
  /* plex-var plex_btn_op_bgc_hover  */
  background-color: #2c86bc
  /* plex-var plex_btn_op_c  */
  color: #fff

.bg-tw
  /* plex-var plex_twitter_bgc  */
  background-color: #2c86bc

.c-tw
  /* plex-var plex_twitter_c  */
  color: #fff

.c-menu
  /* plex-var plex_menu_c  */
  color: #fff

.c-menu-btn-c
  /* plex-var plex_menu_btn_c */
  color: #fff

.bg-hover-menu
  /* plex-var plex_menu_bgc_hover  */
  background-color: #2c86bc

.tile_type1
  /* plex-var plex_tile_type1_bgc */
  background-color: #005487
  /* plex-var plex_tile_type1_c  */
  color: #fff

.tile_type2
  /* plex-var plex_tile_type2_bgc  */
  background-color: #2c86bc
  /* plex-var plex_tile_type2_c  */
  color: #fff

.c-tile-icon
  /* plex-var plex_tile_icon_c  */
  color: #fff

.c-media-element
  /* plex-var plex_media_element_bgc  */
  background-color: #2c86bc


.testimonial
  blockquote
    /* plex-var plex_testimonial_bgc */
    background-color: #2c86bc
    /* plex-var plex_testimonial_c */
    color: #fff
    p
      &:before,
      &:after
        // цвет кавычек
        /* plex-var plex_testimonial_quotes_c */
        color: #003366

.testimonial__arrow
  /* plex-var plex_testimonial_bgc */
  border-top-color: #2c86bc

blockquote
  /* plex-var plex_blockquote_bgc */
  background-color: #2c86bc
  .author
    /* plex-var plex_blockquote_author_c */
    color: #003366
  p
    &:after,
    &:before
      /* plex-var plex_blockquote_quotes_c */
      color: #003366
  i
    /* plex-var plex_blockquote_icon_c */
    color: #003366

.pagination
  ul
    li
      a:hover
        /* plex-var plex_pagination_c_hover */
        color: #fff
        /* plex-var plex_pagination_bgc_hover */
        background-color: #2c86bc
    &.current,
    &.active
      /* plex-var plex_pagination_c_hover */
      color: #fff
      /* plex-var plex_pagination_bgc_hover */
      background-color: #2c86bc
.pagination-c-hover
  /* plex-var plex_pagination_c_hover */
  color: #fff
.pagination-bgc-hover
  /* plex-var plex_pagination_bgc_hover */
  background-color: #2c86bc
.accordion-heading
  /* plex-var plex_accordion_c */
  color: #fff
  /* plex-var plex_accordion_bgc */
  background-color: #2c86bc
  &:hover
    /* plex-var plex_accordion_bgc__hover */
    background-color: #2c86bc - #111
  a
    /* plex-var plex_accordion_c */
    color: #fff
    &:hover
      /* plex-var plex_accordion_c */
      color: #fff

.tab-color
  /* plex-var plex_tab_bgc */
  background-color: #2c86bc
  /* plex-var plex_tab_c */
  color: #fff

.calendar-bgc
  /* plex-var plex_calendar_bgc */
  background-color: #2c86bc
.calendar-c
  /* plex-var plex_calendar_c */
  color: #fff

.calendar-today
  /* plex-var plex_calendar_today_bgc */
  background-color: #fff
  /* plex-var plex_calendar_today_c */
  color: #2c86bc

.progress .bar
  /* plex-var plex_progress_bar_c */
  color: $white
  /* plex-var plex_progress_bar_bgc */
  background-color: #2c86bc

div.selector
  span
    /* plex-var plex_selector_bgc */
    background-color: #fff
    /* plex-var plex_selector_c */
    color: #2c86bc

.blog-item__header time
  /* plex-var plex_blog_header_date_bgc */
  background-color: #2c86bc
  /* plex-var plex_blog_header_date_c*/
  color: #fff

.sticky-color
  /* plex-var plex_sticky_post_bgc */
  background-color: #2c86bc
  /* plex-var plex_sticky_post_c */
  color: #fff

.sticky-color2
  /* plex-var plex_sticky_post_date_bgc */
  background-color: #003366
  /* plex-var plex_sticky_post_date_c*/
  color: #fff

.bypostauthor-color
  /* plex-var plex_bypostauthor_comment_bgc */
  background-color: #2c86bc

/* =========== set-val end ============*/
