.tag-cloud,
.tagcloud
  div
    text-align: justify
  a
    display: inline-block
    padding: 4px 5px
    margin-bottom: 4px
    line-height: 1.3
    font-size: 14px !important
    @extend .btn_grey
    text-decoration: none !important
    &:hover,
    &.active
      text-decoration: none

.archive-list,
.widget-list
  ul
    margin-bottom: 0
    li
      ul
        margin: 0
      a
        text-decoration: none
        &:hover
          text-decoration: underline
      &.current-cat
        cursor: default
        & > a,
        & > span
          cursor: default
          @extend .c-linck
          &:hover
            text-decoration: none
  > li
    list-style: none
    position: relative
    &:before
      content: ""
      width: 4px
      height: 4px
      display: inline-block
      vertical-align: middle
      background-color: #fff
      position: absolute
      left: -15px
      top: 8px

  li
    margin: 0

    li
      margin: 0 0 0 6px
      list-style: none
      > a 
        &:before
          @extend .icon-next
          @extend .icon-next:before
          font-size: 7px
          vertical-align: middle
          margin-left: -5px
          margin-right: 5px
          color: #fff

.searchform
  margin: 0
  position: relative
  &:before
    @extend .icon-search
    @extend .icon-search:before
    width: 15%
    text-align: center
    line-height: 28px
    height: 28px
    @extend .btn-col1
    display: block
    position: absolute
    right: 0
    bottom: 0
    z-index: -1
  .screen-reader-text
    @extend h2
    margin-top: 0
    margin-bottom: 30px
  [type="text"]
    width: 85%
    float: left

  [type="submit"]
    width: 15%
    background-color: transparent
    color: transparent
    border: 0 solid transparent
    padding: 0
    height: 28px
    position: relative

#calendar_wrap
  position: relative
  margin: -15px -15px -10px
  &:before
    @extend .icon-calendar
    @extend .icon-calendar:before
    position: absolute
    top: 0
    left: 0
    width: 40px
    text-align: center
    line-height: 35px
    font-size: 16px
    vertical-align: middle
  #wp-calendar
    position: relative
    width: 100%
    border-collapse: collapse
    margin: 0px
    padding: 0px
    caption
      font-size: 13px
      text-align: center
      line-height: 35px
    thead
      th
        font-weight: normal
        font-size: 8px
        text-transform: capitalize
        +opacity(50)
        line-height: 14px

    tfoot
      position: absolute
      right: 0
      top: 0
      td
        +hide-text()
        line-height: 30px
        &#prev
          width: 16px
          a
            text-align: center
            display: block
            width: 100%
            height: 100%
            cursor: pointer
            &:before
              content: ""
              display: inline-block
              vertical-align: middle
              +arrow(#fff,5,r)
        &#next
          width: 16px
          a
            text-align: center
            display: block
            width: 100%
            height: 100%
            cursor: pointer
            &:before
              content: ""
              display: inline-block
              vertical-align: middle
              +arrow(#fff,5,l)

    tbody
      tr
        line-height: 30px
        font-size: 13px
        td
          padding: 0
          text-align: center
          vertical-align: middle
          border: 1px solid #ffffff
          border: 1px solid rgba(#ffffff,.3)
          @extend .calendar-bgc
          @extend .calendar-c
          &:first-child
            border-left: none
          &:last-child
            border-right: none
          &.pad
            +opacity(20)
          a
            display: block
            width: 100%
            height: 100%
            text-decoration: none
            background-color: rgba(#000,.1 )
            @extend .bgt-textur1
            @extend .calendar-c
            &:hover
              @extend .calendar-c
              background-color: rgba(#000,.3 )
        #today
          @extend .calendar-today
        &:first-child
          td
            border-top: none
        &:last-child
          td
            border-bottom: none



.feed-list
  h2
    .rsswidget
      color: #fff
      text-decoration: none
      &:hover
        color: #ffffff
      &:first-child
        text-decoration: none !important
        @extend  .icon-feed
        font-size: 0.7em
        img
          display: none

  ul
    margin: 0
    list-style: none
  li
    position: relative
    margin-bottom: 30px
    &:last-child
      margin-bottom: 0
  .rsswidget
    @extend .c-linck
    text-transform: uppercase
    &:hover
      @extend .c-linck
      text-decoration: underline !important

  .rss-date
    font-size: 10px
    white-space: nowrap
    display: block
  .rssSummary
  cite
    font-style: italic


.meta-wd
  a
    text-decoration: none !important

.menu-main-menu-container,
.categories-list,
.page-list
  ul
    margin-bottom: 0
  > ul
    overflow: visible
    margin-left: 0
    > .menu-item, 
    > .page_item, 
    > .cat-item 
      > a 
        margin: 0 -15px 0 -15px
      + .menu-item,
      + .page_item, 
      + .cat-item
        &::before
          content: ""
          display: block
          margin-top: -1px
          width: 100%
          border-top: 1px solid
          +opacity(0.3)
       
  .menu-item,
  .cat-item,
  .page_item
    font-size: 0
    line-height: 0
    > a
      @extend .c-menu
      display: block
      text-decoration: none
      font-size: 14px
      line-height: 35px
      padding: 0 25px
      margin: 0 0 0  -25px
      @include transition(background-color 100ms)

    &.current-cat
      > a
        @extend .bg-hover-menu
    &:hover
      > a
        position: relative
        &::after
          content: ""
          @extend .bg-main-bg
    &.current-cat,
    &:hover
      > a
        @extend .c-menu
        text-decoration: none
    .sub-menu,
    .children
      margin-top: 0
      margin-bottom: 0
      .menu-item,
      .cat-item,
      .page_item
        > a
          font-size: 13px
          line-height: 30px

