//
// Accordion
// --------------------------------------------------


// Parent container
.accordion {
  margin-bottom: $baseLineHeight;
}

// Group == heading + body
.accordion-group {
  margin-bottom: 5px;
  //@include border-radius($baseBorderRadius);
}
.accordion-heading {
  border-bottom: 0;
  a{
    text-decoration: none !important;;
  }
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

// General toggle styles
.accordion-toggle {
  cursor: pointer;
}

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner {
  padding: 9px 15px;
  border: 1px solid ;

}
