//
// Forms
// --------------------------------------------------

// GENERAL STYLES
// --------------

// Make all forms have space below them
form {
  margin: 0 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// Groups of fields with labels on top (legends)
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $baseLineHeight;
  font-size: $baseFontSize * 1.5;
  line-height: $baseLineHeight * 2;
  color: $grayDark;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  // Small
  small {
    font-size: $baseLineHeight * .75;
    color: $grayLight;
  }
}

// Set font for forms
label,
input,
button,
select,
textarea {
  @include font-shorthand($baseFontSize, normal, $baseLineHeight);
  // Set size, weight, line-height here
}

input,
button,
select,
textarea {
  font-family: $baseFontFamily;
  // And only set font-family here for those that need it (note the missing label element)
}

// Identify controls by their labels
label {
  display: block;
  margin-bottom: 5px;
}

// Form controls
// -------------------------

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 28px;
  padding: 4px 6px;
  margin-bottom: $baseLineHeight / 2;;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $gray;
  vertical-align: middle;
  @include box-sizing(border-box);

}

// Reset appearance properties for textual inputs and textarea
// Declare width for legacy (can't be on input[type=*] selectors or it's too specific)
input,
textarea,
.uneditable-input {
  width: 100%;
  // plus 12px padding and 2px border
}

// Reset height since textareas have rows
textarea {
  height: auto;
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: $inputBackground;
  border: 0px solid $inputBorder;

  // Focus state
  &:focus {
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
  }
  &.input-fat {
    padding: 10px;
    line-height: 58px;
    font-size: 40px;
    height: auto;
  }
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  *margin-top: 0; /* IE7 */
  margin-top: 1px \9; /* IE8-9 */
  line-height: normal;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  // Override of generic input selector
}

// Set the height of select and file controls to match text inputs
select,
input[type="file"] {
  height: $inputHeight; /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px; /* For IE7, add top margin to align select with labels */
  line-height: $inputHeight;
}

// Make select elements obey height by applying a border
select {
  width: 220px;
  // default input width + 10px of padding that doesn't get applied
  border: 1px solid $inputBorder;
  background-color: $inputBackground;
  // Chrome on Linux and Mobile Safari need background-color
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for select, file, radio, and checkbox
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus();
}

// Uneditable inputs
// -------------------------

// Make uneditable inputs look inactive
.uneditable-input,
.uneditable-textarea {
  color: $grayLight;
  background-color: darken($inputBackground, 1%);
  border-color: $inputBorder;
  @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .025));
  cursor: not-allowed;
}

// For text that needs to appear as an input but should not be an input
.uneditable-input {
  overflow: hidden;
  // prevent text from wrapping, but still cut it off like an input does
  white-space: nowrap;
}

// Make uneditable textareas behave like a textarea
.uneditable-textarea {
  width: auto;
  height: auto;
}

// Placeholder
// -------------------------

// Placeholder text gets special styles because when browsers invalidate entire lines if it doesn't understand a selector
@include placeholder {
  font-style: italic;
  color: #005487
}

.subscribe {
  @include box-shadow(inset 2px 2px 2px rgba(0, 0, 0, .2));
  @include transition(border linear .2s, box-shadow linear .2s);
  // Focus state
  &:focus {
    @include box-shadow(inset 2px 2px 2px rgba(0, 0, 0, .5));
  }
}

// CHECKBOXES & RADIOS
// -------------------

// Indent the labels to position radios/checkboxes as hanging
.radio,
.checkbox {
  min-height: $baseLineHeight;
  // clear the floating input if there is no label text
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

// Move the options list down to align with labels
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
  // has to be padding because margin collaspes
}

// Radios and checkboxes on same line
// TODO v3: Convert .inline to .control-inline
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
  // space out consecutive inline controls
}

// DISABLED STATE
// --------------

// Disabled and read-only inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: $inputDisabledBackground;
}

// Explicitly reset the colors here
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

// FORM FIELD FEEDBACK STATES
// --------------------------

// Warning
.control-group.warning {
  @include formFieldState($warningText, $warningText, $warningBackground);
}

// Error
.control-group.error {
  @include formFieldState($errorText, $errorText, $errorBackground);
}

// Success
.control-group.success {
  @include formFieldState($successText, $successText, $successBackground);
}

// Info
.control-group.info {
  @include formFieldState($infoText, $infoText, $infoBackground);
}

// HTML5 invalid states
// Shares styles with the .control-group.error above
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
  &:focus {
    border-color: darken(#ee5f5b, 10%);
    @include box-shadow(0 0 6px lighten(#ee5f5b, 20%));
  }
}

// HELP TEXT
// ---------

.help-block,
.help-inline {
  color: lighten($textColor, 15%);
  // lighten the text some for contrast
}

.help-block {
  display: block;
  // account for any element using help-block
  margin-bottom: $baseLineHeight / 2;
}

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

// Core
.btn {
  display: inline-block;
  text-align: center;
  padding: 4px 12px;
  margin-top: 0;
  margin-bottom: 0;
  // For input.btn
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  text-align: center;
  vertical-align: middle;
  border: 0 solid transparent;
  cursor: pointer;
  *border: 0;
  // Remove the border to prevent IE7's black border on input:focus
  border-bottom-color: darken($btnBorder, 10%);
  text-decoration: none !important;
  @include transition(background-color .3s ease-in);
  @include box-sizing(border-box);
  @extend .btn-col;

  // Hover/focus state
  &:hover,
  &:focus {
    text-decoration: none;
    background-position: 0 -15px;

    // transition is only when going to hover/focus, otherwise the background
    // behind the gradient (there for IE<=9 fallback) gets mismatched
    @include transition(background-position .1s linear);
  }

  // Focus state for keyboard and accessibility
  &:focus {
    @include tab-focus();
  }

  // Active state
  &.active,
  &:active {
    background-image: none;
    outline: 0;
    @include box-shadow(inset);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    cursor: default;
    background-image: none;
    @include opacity(65);
    @include box-shadow(none);
  }

  &.btn_small {
    font-size: 10px;
    line-height: 15px;
    padding: 2px 5px;
  }

  &.btn_mid {
    font-size: 20px;
    line-height: 30px;
  }

  &.btn_lage {
    font-size: 30px;
    line-height: 40px;
  }

  &.btn_big {
    text-transform: uppercase; 
    font-size: 36px;
    line-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
  }
}



.btn_grey {
  background-color: transparent;
  position: relative;
  z-index: 1;
  @extend .btn-grey-c;
  background-color: transparent;
  &:after {
    content: "";
    @extend .bg-main-bg;
  }
  .bg-main-bg {
    display: none !important;
  }
  li.active &,
  &.selected,
  &.active,
  &.current,
  &:hover,
  &:focus {
    @extend .btn-grey-c_h;
    &:after {
      background-color: transparent;
    }
  }
  &.active,
  li.active & {
    cursor: default;
  }
}

.btn_bloc {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.btn_col2 {
  @extend .btn-col1;
}

div.selector {
  width: 100% !important;
  height: 28px;
  line-height: 28px;
  padding: 0;
  span {
    width: 100% !important;
    position: relative;
    display: block;
    padding: 0 20px 0 5px;
    @include box-sizing(border-box);

    &:before {
      content: "";
      @include arrow(inherit, 6, t);
      position: absolute;
      right: 15px;
      margin-top: -3px;
      top: 50%;
      text-align: center;
    }
  }
  select {
    height: 24px;
    margin-left: 1px;
  }
}

// Alternate buttons
// --------------------------------------------------

// Provide *some* extra contrast for those who can get it
.btn_primary.active,
.btn_warning.active,
.btn_danger.active,
.btn_success.active,
.btn_info.active,
.btn_inverse.active {
  color: rgba(255, 255, 255, .75);
}

// Set the backgrounds
// -------------------------
.btn_primary {
  @include buttonBackground($btnPrimaryBackground, $btnPrimaryBackgroundHighlight);
}

// Warning appears are orange
.btn_warning {
  @include buttonBackground($btnWarningBackground, $btnWarningBackgroundHighlight);
}

// Danger and error appear as red
.btn_danger {
  @include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}

// Success appears as green
.btn_success {
  @include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}

// Info appears as a neutral blue
.btn_info {
  @include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}

// Inverse appears as dark gray
.btn_inverse {
  @include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}

