//
// Scaffolding
// --------------------------------------------------

// Body reset
// -------------------------

body {
  margin: 0;
  @extend .ff-basis;
  line-height: $baseLineHeight;
  @extend .c-basis;
}

// Links
// -------------------------

a {
  @extend .c-linck-in-content;
  text-decoration: none;
}

a:hover,
a:focus {
  @extend .c-linck-in-content;
  text-decoration: underline;
}

