//
// Typography
// --------------------------------------------------

// Body text
// -------------------------

p {
  margin: 0 0 $baseLineHeight;
}

.lead {
  margin-bottom: $baseLineHeight;
  font-size:  1.5em;
  font-weight: 200;
  line-height: $baseLineHeight * 1.5;
}

// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}

// Utility classes
.muted {
  color: $grayLight;
}

a.muted:hover,
a.muted:focus {
  color: darken($grayLight, 10%);
}

.text-warning {
  color: $warningText;
}

a.text-warning:hover,
a.text-warning:focus {
  color: darken($warningText, 10%);
}

.text-error {
  color: $errorText;
}

a.text-error:hover,
a.text-error:focus {
  color: darken($errorText, 10%);
}

.text-info {
  color: $infoText;
}

a.text-info:hover,
a.text-info:focus {
  color: darken($infoText, 10%);
}

.text-success {
  color: $successText;
}

a.text-success:hover,
a.text-success:focus {
  color: darken($successText, 10%);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: ($baseLineHeight / 2) 0;
  @extend .ff-main;
  line-height: $baseLineHeight;
  color: $headingsColor;
  text-rendering: optimizelegibility;
  // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grayLight;
  }
}

h1,
h2,
h3 {
  line-height: $baseLineHeight * 1.5;
}


// ~12px

h1 small {
  font-size: $baseFontSize * 1.75;
}

// ~24px
h2 small {
  font-size: $baseFontSize * 1.25;
}

// ~18px
h3 small {
  font-size: $baseFontSize;
}

h4 small {
  font-size: $baseFontSize;
}

// Page header
// -------------------------

.page-header {
  font-size: 52px;
  line-height: 1;
  margin: 0 0 30px;
}


// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
  padding: 0;
  margin: 0 0 $baseLineHeight 25px;
}

ul {
  list-style: square;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

li {
  line-height: $baseLineHeight;
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Description Lists
dl {
  margin-bottom: $baseLineHeight;
}

dt,
dd {
  line-height: $baseLineHeight;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $baseLineHeight / 2;
}

// Horizontal layout (like forms)
.dl-horizontal {
  @include clearfix();
  // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: $horizontalComponentOffset - 20;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: $horizontalComponentOffset;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: 70px 0 70px;
  border: 0;
  border-bottom: 1px solid ;
  @extend .c-basis;
  &.hr-min {
    margin: 20px 0;
  }
}

// Abbreviations and acronyms
abbr[title],
  // Added data-* attribute to help out our tooltip plugin, per https://github.com/twitter/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted;
  text-decoration: none !important;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes

blockquote {
  padding: 15px 10px;
  margin: 0 0 $baseLineHeight;
  .author {
    margin-top: 0;
    h3 {
      margin-top: 0;
    }

  }
  p {
    margin-bottom: 0;
    font-size: $baseFontSize * 1.25;
    font-weight: 300;
    line-height: 1.25;

    &:after,
    &:before {
      content: "''";
    }
  }
  small {
    display: block;
    line-height: $baseLineHeight;
    color: $grayLight;
    &:before {
      content: '\2014 \00A0';
    }
  }
  &.blockquote_icon {
    p {
      overflow: hidden;
      &:after,
      &:before {
        display: none;
      }
    }
    i {
      float: left;
      font-size: 30px;
      display: block;
      margin-right: 10px;
      &:not([class*="icon-"]) {
        &:before {
          content: '"';
          font-style: normal;
          font-size: 70px;
          vertical-align: text-bottom;
          margin-top: 13px;
          display: inline-block;
        }
      }
    }
  }
}

time {
  font-size: 11px;
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: $baseLineHeight;
  font-style: normal;
  line-height: $baseLineHeight;
}
