@charset "IBM866";
.ff-main, h1, h2, h3, h4, h5, h6 {
  /* plex-var plex_header_family  */
  font-family: "Maven Pro", sans-serif; }

.ff-basis, body {
  /* plex-var plex_text_font_family */
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  /* plex-var plex_headings_font_family */
  font-family: "Open Sans", sans-serif; }

body {
  margin: 0;
  font-size: 12px;
  line-height: 20px; }

a {
  text-decoration: none; }

a:hover,
a:focus {
  text-decoration: underline; }

p {
  margin: 0 0 10px; }

.lead {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

cite {
  font-style: normal; }

.muted {
  color: #999999; }

a.muted:hover,
a.muted:focus {
  color: gray; }

.text-warning {
  color: white; }

a.text-warning:hover,
a.text-warning:focus {
  color: #e6e6e6; }

.text-error {
  color: white; }

a.text-error:hover,
a.text-error:focus {
  color: #e6e6e6; }

.text-info {
  color: white; }

a.text-info:hover,
a.text-info:focus {
  color: #e6e6e6; }

.text-success {
  color: white; }

a.text-success:hover,
a.text-success:focus {
  color: #e6e6e6; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-weight: normal;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

h1,
h2,
h3 {
  line-height: 30px; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px;
  line-height: 24px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 10.2px; }

h1 small {
  font-size: 21px; }

h2 small {
  font-size: 15px; }

h3 small {
  font-size: 12px; }

h4 small {
  font-size: 12px; }

.page-header {
  font-size: 52px;
  line-height: 1;
  margin: 30px 0; }

ul, ol {
  padding: 0;
  margin: 0 0 20px 25px; }

ul {
  list-style: square; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0; }

li {
  line-height: 20px; }

ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none; }

ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none; }
  ul.inline > li,
  ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-bottom: 20px; }

dt,
dd {
  line-height: 20px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 10px; }

.dl-horizontal {
  *zoom: 1; }
  .dl-horizontal:before, .dl-horizontal:after {
    display: table;
    content: "";
    line-height: 0; }
  .dl-horizontal:after {
    clear: both; }
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; }

hr {
  margin: 50px 0 70px;
  border: 0;
  border-bottom: 1px solid white; }
  hr.hr-min {
    margin: 0 0 20px; }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #fff;
  text-decoration: none !important; }

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase; }

blockquote {
  padding: 15px 10px;
  margin: 0 0 20px; }
  blockquote .author {
    margin-top: 0; }
    blockquote .author h3 {
      margin-top: 0; }
  blockquote p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.25; }
    blockquote p:after, blockquote p:before {
      content: "''"; }
  blockquote small {
    display: block;
    line-height: 20px;
    color: #999999; }
    blockquote small:before {
      content: '\2014 \00A0'; }
  blockquote.blockquote_icon p {
    overflow: hidden; }
    blockquote.blockquote_icon p:after, blockquote.blockquote_icon p:before {
      display: none; }
  blockquote.blockquote_icon i {
    float: left;
    font-size: 30px;
    display: block;
    margin-right: 10px; }
    blockquote.blockquote_icon i:not([class*="icon-"]):before {
      content: '"';
      font-style: normal;
      font-size: 70px;
      vertical-align: text-bottom;
      margin-top: 13px;
      display: inline-block; }

time {
  font-size: 11px; }

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: ""; }

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px; }

/*@ sourceMappingURL=type.css.map */