div.ifremWraper .row-fluid {
  width: 100%;
  *zoom: 1; }
  div.ifremWraper .row-fluid:before, div.ifremWraper .row-fluid:after {
    display: table;
    content: "";
    line-height: 0; }
  div.ifremWraper .row-fluid:after {
    clear: both; }
  div.ifremWraper .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
    *margin-left: 2.07447%; }
  div.ifremWraper .row-fluid [class*="span"]:first-child {
    margin-left: 0; }
  div.ifremWraper .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.12766%; }
  div.ifremWraper .row-fluid .span1 {
    width: 6.38298%;
    *width: 6.32979%; }
  div.ifremWraper .row-fluid .span2 {
    width: 14.89362%;
    *width: 14.84043%; }
  div.ifremWraper .row-fluid .span3 {
    width: 23.40426%;
    *width: 23.35106%; }
  div.ifremWraper .row-fluid .span4 {
    width: 31.91489%;
    *width: 31.8617%; }
  div.ifremWraper .row-fluid .span5 {
    width: 40.42553%;
    *width: 40.37234%; }
  div.ifremWraper .row-fluid .span6 {
    width: 48.93617%;
    *width: 48.88298%; }
  div.ifremWraper .row-fluid .span7 {
    width: 57.44681%;
    *width: 57.39362%; }
  div.ifremWraper .row-fluid .span8 {
    width: 65.95745%;
    *width: 65.90426%; }
  div.ifremWraper .row-fluid .span9 {
    width: 74.46809%;
    *width: 74.41489%; }
  div.ifremWraper .row-fluid .span10 {
    width: 82.97872%;
    *width: 82.92553%; }
  div.ifremWraper .row-fluid .span11 {
    width: 91.48936%;
    *width: 91.43617%; }
  div.ifremWraper .row-fluid .span12 {
    width: 100%;
    *width: 99.94681%; }
  div.ifremWraper .row-fluid .offset1 {
    margin-left: 10.6383%;
    *margin-left: 10.53191%; }
  div.ifremWraper .row-fluid .offset1:first-child {
    margin-left: 8.51064%;
    *margin-left: 8.40426%; }
  div.ifremWraper .row-fluid .offset2 {
    margin-left: 19.14894%;
    *margin-left: 19.04255%; }
  div.ifremWraper .row-fluid .offset2:first-child {
    margin-left: 17.02128%;
    *margin-left: 16.91489%; }
  div.ifremWraper .row-fluid .offset3 {
    margin-left: 27.65957%;
    *margin-left: 27.55319%; }
  div.ifremWraper .row-fluid .offset3:first-child {
    margin-left: 25.53191%;
    *margin-left: 25.42553%; }
  div.ifremWraper .row-fluid .offset4 {
    margin-left: 36.17021%;
    *margin-left: 36.06383%; }
  div.ifremWraper .row-fluid .offset4:first-child {
    margin-left: 34.04255%;
    *margin-left: 33.93617%; }
  div.ifremWraper .row-fluid .offset5 {
    margin-left: 44.68085%;
    *margin-left: 44.57447%; }
  div.ifremWraper .row-fluid .offset5:first-child {
    margin-left: 42.55319%;
    *margin-left: 42.44681%; }
  div.ifremWraper .row-fluid .offset6 {
    margin-left: 53.19149%;
    *margin-left: 53.08511%; }
  div.ifremWraper .row-fluid .offset6:first-child {
    margin-left: 51.06383%;
    *margin-left: 50.95745%; }
  div.ifremWraper .row-fluid .offset7 {
    margin-left: 61.70213%;
    *margin-left: 61.59574%; }
  div.ifremWraper .row-fluid .offset7:first-child {
    margin-left: 59.57447%;
    *margin-left: 59.46809%; }
  div.ifremWraper .row-fluid .offset8 {
    margin-left: 70.21277%;
    *margin-left: 70.10638%; }
  div.ifremWraper .row-fluid .offset8:first-child {
    margin-left: 68.08511%;
    *margin-left: 67.97872%; }
  div.ifremWraper .row-fluid .offset9 {
    margin-left: 78.7234%;
    *margin-left: 78.61702%; }
  div.ifremWraper .row-fluid .offset9:first-child {
    margin-left: 76.59574%;
    *margin-left: 76.48936%; }
  div.ifremWraper .row-fluid .offset10 {
    margin-left: 87.23404%;
    *margin-left: 87.12766%; }
  div.ifremWraper .row-fluid .offset10:first-child {
    margin-left: 85.10638%;
    *margin-left: 85.0%; }
  div.ifremWraper .row-fluid .offset11 {
    margin-left: 95.74468%;
    *margin-left: 95.6383%; }
  div.ifremWraper .row-fluid .offset11:first-child {
    margin-left: 93.61702%;
    *margin-left: 93.51064%; }
  div.ifremWraper .row-fluid .offset12 {
    margin-left: 104.25532%;
    *margin-left: 104.14894%; }
  div.ifremWraper .row-fluid .offset12:first-child {
    margin-left: 102.12766%;
    *margin-left: 102.02128%; }

/*@ sourceMappingURL=gridForIfrems.css.map */