@charset "IBM866";
.ff-main, h1, h2, .searchform .screen-reader-text, h3, h4, h5, h6, .tile_twitter .author { /* plex-var plex_header_font  */ font-family: "Maven Pro", sans-serif; /* plex-var plex_header_font_weight  */ font-weight: normal; /* plex-var plex_header_font_style  */ font-style: normal; }

.ff-basis, body, .icon_in-bubble span { /* plex-var plex_text_font */ font-family: "Open Sans", sans-serif; /* plex-var plex_text_font_weight  */ font-weight: normal; /* plex-var plex_text_font_style  */ font-style: normal; /* plex-var plex_text_font_size  */ font-size: 12px; }

h1 { /* plex-var plex_h1_font_size  */ font-size: 35px; }

h2, .searchform .screen-reader-text { /* plex-var plex_h2_font_size  */ font-size: 30px; }

h3 { /* plex-var plex_h3_font_size  */ font-size: 20px; line-height: 24px; }

h4 { /* plex-var plex_h4_font_size  */ font-size: 16px; }

h5 { /* plex-var plex_h5_font_size  */ font-size: 12px; }

h6 { /* plex-var plex_h6_font_size  */ font-size: 10.2px; }

.c-basis, body, hr, .nav-tabs > li > a, .commentlist .comment .comment-body .fn a, .commentlist .comment .comment-body .fn a:hover, .commentlist .comment .comment-body .commentmetadata a, .commentlist .comment .comment-body .reply a, .commentlist .comment .comment-body .cancel-reply a, .commentlist .comment .comment-body .commentmetadata a:hover, .commentlist .comment .comment-body .reply a:hover, .commentlist .comment .comment-body .cancel-reply a:hover, .pagination .page-numbers, .pagination-post a, .tile__icon-box i, .tile_date .box, .pagination ul li a, .pagination ul li span { /* plex-var plex_main_c  */ color: white; }

.bg-body, html, body { /* plex-var plex_site_bgc */ background: #132235; }

.bg-body-face { /* plex-var plex_site_bgc */ background: #132235; }

.bg-main-bg, .btn_grey:after, .tag-cloud a:after, .tagcloud a:after, .icon_cub[href]:after, .tile_partners[href]:after, .menu-main-menu-container .menu-item:hover > a::after, .menu-main-menu-container .cat-item:hover > a::after, .menu-main-menu-container .page_item:hover > a::after, .categories-list .menu-item:hover > a::after, .categories-list .cat-item:hover > a::after, .categories-list .page_item:hover > a::after, .page-list .menu-item:hover > a::after, .page-list .cat-item:hover > a::after, .page-list .page_item:hover > a::after, .wp-caption-text:before, .pagination .page-numbers:before, .pagination-post a:before, .menu > .item:hover > a::before, .menu > .item .sub-menu > .item > a:after, .menu > .item .sub-menu > .item > a:hover:after { /* plex-var plex_site_sublayer_bgc  */ background-color: white; /* plex-var plex_site_sublayer_bgc_op */ opacity: 0.2; /* plex-var plex_site_sublayer_bgc_op__ie */ filter: alpha(opacity=20); /* plex-var plex_site_sublayer_bgc_op__ie1 */ -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; /* plex-var plex_site_sublayer_bgc_op__ie2 */ filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); }

.btn-col, .btn, .comment-respond .form-submit #submit, .logged-in-as a + a { /* plex-var plex_btn_type1_bgc  */ background-color: #003366; /* plex-var plex_btn_type1_c  */ color: white; }
.btn-col:hover, .btn:hover, .comment-respond .form-submit #submit:hover, .logged-in-as a + a:hover, .btn-col:focus, .btn:focus, .comment-respond .form-submit #submit:focus, .logged-in-as a + a:focus { /* plex-var plex_btn_type1_bgc__hover  */ background-color: #002255; /* plex-var plex_btn_type1_c  */ color: white; }

.c-linck-in-content, a, a:hover, a:focus, .blog-item__header a { /* plex-var plex_link_c_in_content  */ color: white; }
.c-linck-in-content:hover, a:hover { /* plex-var plex_link_c_in_content__hover  */ color: #eeeeee; }

.c-linck, .commentlist .comment .comment-body .commentmetadata::before, .commentlist .comment .comment-body .reply::before, .commentlist .comment .comment-body .cancel-reply::before, .fancybox-nav span, .archive-list ul li.current-cat > a, .archive-list ul li.current-cat > span, .widget-list ul li.current-cat > a, .widget-list ul li.current-cat > span, .feed-list .rsswidget, .feed-list .rsswidget:hover, .rating span.active, .rating span.active ~ span, .tile-text-abstract a, .tile_img a, .tile_video a, .tile_img-dis a, .tile_date a, .tile_text a, .tile_text-bgc a, .tile_color1 a, .tile_color2 a, .tile_twitter p a, .carousel ~ [class*='icon-'] { /* plex-var plex_link_c  */ color: #003366; }
.c-linck:hover, .commentlist .comment .comment-body .commentmetadata:hover::before, .commentlist .comment .comment-body .reply:hover::before, .commentlist .comment .comment-body .cancel-reply:hover::before, .fancybox-nav span:hover, .archive-list ul li.current-cat > a:hover, .archive-list ul li.current-cat > span:hover, .widget-list ul li.current-cat > a:hover, .widget-list ul li.current-cat > span:hover, .feed-list .rsswidget:hover, .rating span.active:hover, .rating span.active ~ span:hover, .tile-text-abstract a:hover, .tile_img a:hover, .tile_video a:hover, .tile_img-dis a:hover, .tile_date a:hover, .tile_text a:hover, .tile_text-bgc a:hover, .tile_color1 a:hover, .tile_color2 a:hover, .tile_twitter p a:hover, .carousel ~ [class*='icon-']:hover { /* plex-var plex_link_c__hover  */ color: #002255; }

.site-title, .-blog-name { /* plex-var plex_site_title_c  */ color: #3096d3; }

.btn-col1, .btn_col2, .searchform:before, .pagination-post > span, .sub-menu > .separator__wrap:hover, .sub-menu > .separator__wrap.active { /* plex-var plex_btn_type2_bgc */ background-color: #2c86bc; /* plex-var plex_btn_type2_c  */ color: white; }
.btn-col1:hover, .btn_col2:hover, .searchform:hover:before, .pagination-post > span:hover, .sub-menu > .separator__wrap:hover, .btn-col1:focus, .btn_col2:focus, .searchform:focus:before, .pagination-post > span:focus, .sub-menu > .separator__wrap:focus:hover, .sub-menu > .separator__wrap.active:focus { /* plex-var plex_btn_type2_bgc__hover  */ background-color: #1b75ab; /* plex-var plex_btn_type2_c  */ color: white; }

.btn-grey-c, .btn_grey, .tag-cloud a, .tagcloud a, .icon_cub[href], .tile_partners[href] { /* plex-var plex_btn_op_c  */ color: white; }

.btn-grey-c_h, li.active .btn_grey, li.active .tag-cloud a, .tag-cloud li.active a, li.active .tagcloud a, .tagcloud li.active a, li.active .icon_cub[href], li.active .tile_partners[href], .btn_grey.selected, .tag-cloud a.selected, .tagcloud a.selected, .selected.icon_cub[href], .selected.tile_partners[href], .btn_grey.active, .tag-cloud a.active, .tagcloud a.active, .active.icon_cub[href], .active.tile_partners[href], .btn_grey.current, .tag-cloud a.current, .tagcloud a.current, .current.icon_cub[href], .current.tile_partners[href], .btn_grey:hover, .tag-cloud a:hover, .tagcloud a:hover, .icon_cub[href]:hover, .tile_partners[href]:hover, .btn_grey:focus, .tag-cloud a:focus, .tagcloud a:focus, .icon_cub[href]:focus, .tile_partners[href]:focus { /* plex-var plex_btn_op_bgc_hover  */ background-color: #2c86bc; /* plex-var plex_btn_op_c  */ color: white; }

.bg-tw, .tile_twitter { /* plex-var plex_twitter_bgc  */ background-color: #2c86bc; }

.c-tw, .tile_twitter { /* plex-var plex_twitter_c  */ color: white; }

.c-menu, .menu-main-menu-container .menu-item > a, .menu-main-menu-container .cat-item > a, .menu-main-menu-container .page_item > a, .categories-list .menu-item > a, .categories-list .cat-item > a, .categories-list .page_item > a, .page-list .menu-item > a, .page-list .cat-item > a, .page-list .page_item > a, .menu-main-menu-container .menu-item.current-cat > a, .menu-main-menu-container .menu-item:hover > a, .menu-main-menu-container .cat-item.current-cat > a, .menu-main-menu-container .cat-item:hover > a, .menu-main-menu-container .page_item.current-cat > a, .menu-main-menu-container .page_item:hover > a, .categories-list .menu-item.current-cat > a, .categories-list .menu-item:hover > a, .categories-list .cat-item.current-cat > a, .categories-list .cat-item:hover > a, .categories-list .page_item.current-cat > a, .categories-list .page_item:hover > a, .page-list .menu-item.current-cat > a, .page-list .menu-item:hover > a, .page-list .cat-item.current-cat > a, .page-list .cat-item:hover > a, .page-list .page_item.current-cat > a, .page-list .page_item:hover > a, .menu > .item, .menu > .item > a, .menu > .item.active > a, .menu > .item:hover > a, .menu > .item .sub-menu > .item > a, .menu > .item .sub-menu > .item > a:hover { /* plex-var plex_menu_c  */ color: white; }

.c-menu-btn-c, .sidebar_icon a, .sidebar_icon a:hover, .menu-btn-box a, .menu-btn-box span, .menu-btn-box a:hover, .menu-btn-box span:hover { /* plex-var plex_menu_btn_c */ color: white; }

.bg-hover-menu, .menu-main-menu-container .menu-item.current-cat > a, .menu-main-menu-container .cat-item.current-cat > a, .menu-main-menu-container .page_item.current-cat > a, .categories-list .menu-item.current-cat > a, .categories-list .cat-item.current-cat > a, .categories-list .page_item.current-cat > a, .page-list .menu-item.current-cat > a, .page-list .cat-item.current-cat > a, .page-list .page_item.current-cat > a, .menu > .item.active > a, .menu > .item .sub-menu > .item.active > a { /* plex-var plex_menu_bgc_hover  */ background-color: #2c86bc; }

.tile_type1, .tile_img-dis.tile-type1 .dis, .tile_img-dis.tile-type1 .dis::before, .tile_date.tile-type1 .box, .tile_text.tile-type1, .tile_text-bgc, .tile_color1 { /* plex-var plex_tile_type1_bgc */ background-color: #005487; /* plex-var plex_tile_type1_c  */ color: white; }

.tile_type2, .tile_img-dis.tile-type2 .dis, .tile_img-dis.tile-type2 .dis::before, .tile_date.tile-type2 .box, .tile_text.tile-type2, .tile-type2.tile_text-bgc, .tile_color2 { /* plex-var plex_tile_type2_bgc  */ background-color: #2c86bc; /* plex-var plex_tile_type2_c  */ color: white; }

.c-tile-icon, .tile_basis-linc i, .tile_basis-linc span { /* plex-var plex_tile_icon_c  */ color: white; }

.c-media-element, div.mejs-container .mejs-controls { /* plex-var plex_media_element_bgc  */ background-color: #2c86bc; }

.testimonial blockquote { /* plex-var plex_testimonial_bgc */ background-color: #2c86bc; /* plex-var plex_testimonial_c */ color: white; }
.testimonial blockquote p:before, .testimonial blockquote p:after { /* plex-var plex_testimonial_quotes_c */ color: #003366; }

.testimonial__arrow { /* plex-var plex_testimonial_bgc */ border-top-color: #2c86bc; }

blockquote { /* plex-var plex_blockquote_bgc */ background-color: #2c86bc; }
blockquote .author { /* plex-var plex_blockquote_author_c */ color: #003366; }
blockquote p:after, blockquote p:before { /* plex-var plex_blockquote_quotes_c */ color: #003366; }
blockquote i { /* plex-var plex_blockquote_icon_c */ color: #003366; }

.pagination ul li a:hover { /* plex-var plex_pagination_c_hover */ color: white; /* plex-var plex_pagination_bgc_hover */ background-color: #2c86bc; }
.pagination ul.current, .pagination ul.active { /* plex-var plex_pagination_c_hover */ color: white; /* plex-var plex_pagination_bgc_hover */ background-color: #2c86bc; }

.pagination-c-hover, .pagination .page-numbers.current, .pagination .page-numbers.active, .pagination .page-numbers:hover, .pagination-post a.active, .pagination-post a:hover, .pagination ul li a:hover, .pagination ul.current a, .pagination ul.active a { /* plex-var plex_pagination_c_hover */ color: white; }

.pagination-bgc-hover, .pagination .page-numbers.current, .pagination .page-numbers.active, .pagination .page-numbers:hover, .pagination-post a.active, .pagination-post a:hover, .pagination ul li a:hover, .pagination ul.current a, .pagination ul.active a { /* plex-var plex_pagination_bgc_hover */ background-color: #2c86bc; }

.accordion-heading { /* plex-var plex_accordion_c */ color: white; /* plex-var plex_accordion_bgc */ background-color: #2c86bc; }
.accordion-heading:hover { /* plex-var plex_accordion_bgc__hover */ background-color: #1b75ab; }
.accordion-heading a { /* plex-var plex_accordion_c */ color: white; }
.accordion-heading a:hover { /* plex-var plex_accordion_c */ color: white; }

.tab-color, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus { /* plex-var plex_tab_bgc */ background-color: #2c86bc; /* plex-var plex_tab_c */ color: white; }

.calendar-bgc, #calendar_wrap #wp-calendar tbody tr td { /* plex-var plex_calendar_bgc */ background-color: #2c86bc; }

.calendar-c, #calendar_wrap #wp-calendar tbody tr td, #calendar_wrap #wp-calendar tbody tr td a, #calendar_wrap #wp-calendar tbody tr td a:hover { /* plex-var plex_calendar_c */ color: white; }

.calendar-today, #calendar_wrap #wp-calendar tbody tr #today { /* plex-var plex_calendar_today_bgc */ background-color: white; /* plex-var plex_calendar_today_c */ color: #2c86bc; }

.progress .bar { /* plex-var plex_progress_bar_c */ color: white; /* plex-var plex_progress_bar_bgc */ background-color: #2c86bc; }

div.selector span { /* plex-var plex_selector_bgc */ background-color: white; /* plex-var plex_selector_c */ color: #2c86bc; }

.blog-item__header time { /* plex-var plex_blog_header_date_bgc */ background-color: #2c86bc; /* plex-var plex_blog_header_date_c */ color: white; }

.sticky-color, .sticky .blog-item__header, .sticky .blog-item__content, .from-blog .sticky { /* plex-var plex_sticky_post_bgc */ background-color: #2c86bc; /* plex-var plex_sticky_post_c */ color: white; }

.sticky-color2, .sticky .blog-item__header time, .sticky .blog-item__content time { /* plex-var plex_sticky_post_date_bgc */ background-color: #003366; /* plex-var plex_sticky_post_date_c */ color: white; }

.bypostauthor-color, .bypostauthor > .comment-body { /* plex-var plex_bypostauthor_comment_bgc */ background-color: #2c86bc; }
