@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-google-plus, .icon-steam, .icon-deviantart, .icon-dribbble, .icon-picassa, .icon-flickr, .icon-facebook, .icon-twitter, .icon-feed, .icon-vimeo, .icon-flickr-2, .icon-blogger, .icon-delicious, .icon-youtube, .icon-google-drive, .icon-lastfm, .icon-reddit, .icon-skype, .icon-stumbleupon, .icon-pinterest, .icon-xing, .icon-foursquare, .icon-paypal, .icon-yelp, .icon-blogger-2, .icon-lanyrd, .icon-feed-2, .icon-google-plus-2, .icon-link, .icon-linkedin, .icon-linkedin-sign, .icon-facebook-2, .icon-vimeo-2, .icon-eye, .icon-user, .icon-users, .icon-bubbles, .icon-close, .icon-checkmark, .icon-caret-right, .icon-star, .icon-youTube-v, .icon-Services, .icon-Projects, .icon-chetbox_select, .icon-chetbox, .icon-bubble, .icon-Blog, .icon-AboutUs, .icon-caret-left, .icon-caret-up, .icon-caret-down, .icon-heart, .icon-Contacts, .icon-calendar, .icon-retweet, .icon-file-css, .icon-file-xml, .icon-file-powerpoint, .icon-file-zip, .icon-file-excel, .icon-libreoffice, .icon-file-pdf, .icon-file-openoffice, .icon-file-word, .icon-paypal-2, .icon-foursquare-2, .icon-flattr, .icon-xing-2, .icon-pinterest-2, .icon-stackoverflow, .icon-stumbleupon-2, .icon-tumblr, .icon-tumblr-2, .icon-yahoo, .icon-tux, .icon-apple, .icon-finder, .icon-android, .icon-windows, .icon-windows8, .icon-wordpress, .icon-wordpress-2, .icon-picassa-2, .icon-dribbble-2, .icon-dribbble-3, .icon-forrst, .icon-forrst-2, .icon-deviantart-2, .icon-steam-2, .icon-facebook-3, .icon-instagram, .icon-twitter-2, .icon-twitter-3, .icon-feed-3, .icon-vimeo2, .icon-flickr-3, .icon-flickr-4, .icon-google-plus-3, .icon-google-plus-4, .icon-google, .icon-share, .icon-filter, .icon-shuffle, .icon-spam, .icon-checkmark-circle, .icon-cancel-circle, .icon-blocked, .icon-info, .icon-info-2, .icon-question, .icon-notification, .icon-warning, .icon-point-left, .icon-point-down, .icon-point-right, .icon-point-up, .icon-earth, .icon-flag, .icon-globe, .icon-cloud-download, .icon-cloud-upload, .icon-download, .icon-upload, .icon-download-2, .icon-upload-2, .icon-cloud, .icon-tree, .icon-power-cord, .icon-signup, .icon-switch, .icon-lightning, .icon-shield, .icon-target, .icon-accessibility, .icon-road, .icon-truck, .icon-bars, .icon-gift, .icon-trophy, .icon-glass, .icon-mug, .icon-food, .icon-leaf, .icon-rocket, .icon-meter, .icon-meter2, .icon-dashboard, .icon-hammer, .icon-fire, .icon-lab, .icon-magnet, .icon-remove, .icon-remove-2, .icon-briefcase, .icon-airplane, .icon-bars-2, .icon-stats, .icon-pie, .icon-bug, .icon-aid, .icon-wand, .icon-hammer-2, .icon-cog, .icon-cogs, .icon-equalizer, .icon-settings, .icon-wrench, .icon-unlocked, .icon-lock, .icon-key, .icon-contract, .icon-quotes-left, .icon-busy, .icon-binoculars, .icon-search, .icon-zoom-in, .icon-zoom-out, .icon-contract-2, .icon-bubbles-2, .icon-bubble-2, .icon-bubbles-3, .icon-bubbles-4, .icon-bubble-3, .icon-disk, .icon-screen, .icon-laptop, .icon-mobile, .icon-mobile-2, .icon-tablet, .icon-tv, .icon-upload-3, .icon-storage, .icon-print, .icon-keyboard, .icon-credit, .icon-calculate, .icon-support, .icon-phone, .icon-phone-hang-up, .icon-address-book, .icon-notebook, .icon-envelop, .icon-pushpin, .icon-location, .icon-location-2, .icon-compass, .icon-map, .icon-map-2, .icon-history, .icon-clock, .icon-clock-2, .icon-alarm, .icon-coin, .icon-cart, .icon-ticket, .icon-qrcode, .icon-barcode, .icon-tags, .icon-tag, .icon-folder-open, .icon-folder, .icon-stack, .icon-paste, .icon-paste-2, .icon-paste-3, .icon-copy, .icon-copy-2, .icon-copy-3, .icon-file, .icon-film, .icon-camera, .icon-dice, .icon-book, .icon-books, .icon-bullhorn, .icon-library, .icon-play, .icon-headphones, .icon-music, .icon-camera-2, .icon-images, .icon-image, .icon-paint-format, .icon-droplet, .icon-office, .icon-home, .icon-quill, .icon-cancel, .icon-pencil, .icon-play-2, .icon-edit, .icon-menu, .icon-next, .icon-prev {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-google-plus:before {
	content: "\e000";
}
.icon-steam:before {
	content: "\e001";
}
.icon-deviantart:before {
	content: "\e002";
}
.icon-dribbble:before {
	content: "\e003";
}
.icon-picassa:before {
	content: "\e004";
}
.icon-flickr:before {
	content: "\e005";
}
.icon-facebook:before {
	content: "\e006";
}
.icon-twitter:before {
	content: "\e007";
}
.icon-feed:before {
	content: "\e008";
}
.icon-vimeo:before {
	content: "\e00a";
}
.icon-flickr-2:before {
	content: "\e00c";
}
.icon-blogger:before {
	content: "\e00b";
}
.icon-delicious:before {
	content: "\e00d";
}
.icon-youtube:before {
	content: "\e00f";
}
.icon-google-drive:before {
	content: "\e010";
}
.icon-lastfm:before {
	content: "\e011";
}
.icon-reddit:before {
	content: "\e012";
}
.icon-skype:before {
	content: "\e013";
}
.icon-stumbleupon:before {
	content: "\e014";
}
.icon-pinterest:before {
	content: "\e015";
}
.icon-xing:before {
	content: "\e018";
}
.icon-foursquare:before {
	content: "\e01a";
}
.icon-paypal:before {
	content: "\e01b";
}
.icon-yelp:before {
	content: "\e01c";
}
.icon-blogger-2:before {
	content: "\e01d";
}
.icon-lanyrd:before {
	content: "\e020";
}
.icon-feed-2:before {
	content: "\e022";
}
.icon-google-plus-2:before {
	content: "\e024";
}
.icon-link:before {
	content: "\e025";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-linkedin-sign:before {
	content: "\f08c";
}
.icon-facebook-2:before {
	content: "\e01e";
}
.icon-vimeo-2:before {
	content: "\e00e";
}
.icon-eye:before {
	content: "\e016";
}
.icon-user:before {
	content: "\e017";
}
.icon-users:before {
	content: "\e019";
}
.icon-bubbles:before {
	content: "\e01f";
}
.icon-close:before {
	content: "\e021";
}
.icon-checkmark:before {
	content: "\e023";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-star:before {
	content: "\f005";
}
.icon-youTube-v:before {
	content: "\e026";
}
.icon-Services:before {
	content: "\e027";
}
.icon-Projects:before {
	content: "\e028";
}
.icon-chetbox_select:before {
	content: "\e02e";
}
.icon-chetbox:before {
	content: "\e02f";
}
.icon-bubble:before {
	content: "\e030";
}
.icon-Blog:before {
	content: "\e031";
}
.icon-AboutUs:before {
	content: "\e032";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-heart:before {
	content: "\e034";
}
.icon-Contacts:before {
	content: "\e035";
}
.icon-calendar:before {
	content: "\e036";
}
.icon-retweet:before {
	content: "\e037";
}
.icon-file-css:before {
	content: "\e038";
}
.icon-file-xml:before {
	content: "\e039";
}
.icon-file-powerpoint:before {
	content: "\e03a";
}
.icon-file-zip:before {
	content: "\e03b";
}
.icon-file-excel:before {
	content: "\e03c";
}
.icon-libreoffice:before {
	content: "\e03d";
}
.icon-file-pdf:before {
	content: "\e03e";
}
.icon-file-openoffice:before {
	content: "\e03f";
}
.icon-file-word:before {
	content: "\e040";
}
.icon-paypal-2:before {
	content: "\e041";
}
.icon-foursquare-2:before {
	content: "\e042";
}
.icon-flattr:before {
	content: "\e043";
}
.icon-xing-2:before {
	content: "\e044";
}
.icon-pinterest-2:before {
	content: "\e045";
}
.icon-stackoverflow:before {
	content: "\e046";
}
.icon-stumbleupon-2:before {
	content: "\e047";
}
.icon-tumblr:before {
	content: "\e048";
}
.icon-tumblr-2:before {
	content: "\e049";
}
.icon-yahoo:before {
	content: "\e04a";
}
.icon-tux:before {
	content: "\e04b";
}
.icon-apple:before {
	content: "\e04c";
}
.icon-finder:before {
	content: "\e04d";
}
.icon-android:before {
	content: "\e04e";
}
.icon-windows:before {
	content: "\e04f";
}
.icon-windows8:before {
	content: "\e050";
}
.icon-wordpress:before {
	content: "\e051";
}
.icon-wordpress-2:before {
	content: "\e052";
}
.icon-picassa-2:before {
	content: "\e053";
}
.icon-dribbble-2:before {
	content: "\e054";
}
.icon-dribbble-3:before {
	content: "\e055";
}
.icon-forrst:before {
	content: "\e056";
}
.icon-forrst-2:before {
	content: "\e057";
}
.icon-deviantart-2:before {
	content: "\e058";
}
.icon-steam-2:before {
	content: "\e059";
}
.icon-facebook-3:before {
	content: "\e05a";
}
.icon-instagram:before {
	content: "\e05b";
}
.icon-twitter-2:before {
	content: "\e05c";
}
.icon-twitter-3:before {
	content: "\e05d";
}
.icon-feed-3:before {
	content: "\e05e";
}
.icon-vimeo2:before {
	content: "\e05f";
}
.icon-flickr-3:before {
	content: "\e060";
}
.icon-flickr-4:before {
	content: "\e061";
}
.icon-google-plus-3:before {
	content: "\e062";
}
.icon-google-plus-4:before {
	content: "\e063";
}
.icon-google:before {
	content: "\e064";
}
.icon-share:before {
	content: "\e065";
}
.icon-filter:before {
	content: "\e066";
}
.icon-shuffle:before {
	content: "\e069";
}
.icon-spam:before {
	content: "\e081";
}
.icon-checkmark-circle:before {
	content: "\e082";
}
.icon-cancel-circle:before {
	content: "\e083";
}
.icon-blocked:before {
	content: "\e084";
}
.icon-info:before {
	content: "\e085";
}
.icon-info-2:before {
	content: "\e086";
}
.icon-question:before {
	content: "\e087";
}
.icon-notification:before {
	content: "\e088";
}
.icon-warning:before {
	content: "\e089";
}
.icon-point-left:before {
	content: "\e08a";
}
.icon-point-down:before {
	content: "\e08b";
}
.icon-point-right:before {
	content: "\e08c";
}
.icon-point-up:before {
	content: "\e08d";
}
.icon-earth:before {
	content: "\e08e";
}
.icon-flag:before {
	content: "\e08f";
}
.icon-globe:before {
	content: "\e090";
}
.icon-cloud-download:before {
	content: "\e091";
}
.icon-cloud-upload:before {
	content: "\e092";
}
.icon-download:before {
	content: "\e093";
}
.icon-upload:before {
	content: "\e094";
}
.icon-download-2:before {
	content: "\e095";
}
.icon-upload-2:before {
	content: "\e096";
}
.icon-cloud:before {
	content: "\e097";
}
.icon-tree:before {
	content: "\e098";
}
.icon-power-cord:before {
	content: "\e099";
}
.icon-signup:before {
	content: "\e09a";
}
.icon-switch:before {
	content: "\e09b";
}
.icon-lightning:before {
	content: "\e09c";
}
.icon-shield:before {
	content: "\e09d";
}
.icon-target:before {
	content: "\e09e";
}
.icon-accessibility:before {
	content: "\e09f";
}
.icon-road:before {
	content: "\e0a0";
}
.icon-truck:before {
	content: "\e0a1";
}
.icon-bars:before {
	content: "\e0a2";
}
.icon-gift:before {
	content: "\e0a3";
}
.icon-trophy:before {
	content: "\e0a4";
}
.icon-glass:before {
	content: "\e0a5";
}
.icon-mug:before {
	content: "\e0a6";
}
.icon-food:before {
	content: "\e0a7";
}
.icon-leaf:before {
	content: "\e0a8";
}
.icon-rocket:before {
	content: "\e0a9";
}
.icon-meter:before {
	content: "\e0aa";
}
.icon-meter2:before {
	content: "\e0ab";
}
.icon-dashboard:before {
	content: "\e0ac";
}
.icon-hammer:before {
	content: "\e0ad";
}
.icon-fire:before {
	content: "\e0ae";
}
.icon-lab:before {
	content: "\e0af";
}
.icon-magnet:before {
	content: "\e0b0";
}
.icon-remove:before {
	content: "\e0b1";
}
.icon-remove-2:before {
	content: "\e0b2";
}
.icon-briefcase:before {
	content: "\e0b3";
}
.icon-airplane:before {
	content: "\e0b4";
}
.icon-bars-2:before {
	content: "\e0b5";
}
.icon-stats:before {
	content: "\e0b6";
}
.icon-pie:before {
	content: "\e0b7";
}
.icon-bug:before {
	content: "\e0b8";
}
.icon-aid:before {
	content: "\e0b9";
}
.icon-wand:before {
	content: "\e0ba";
}
.icon-hammer-2:before {
	content: "\e0bb";
}
.icon-cog:before {
	content: "\e0bc";
}
.icon-cogs:before {
	content: "\e0bd";
}
.icon-equalizer:before {
	content: "\e0bf";
}
.icon-settings:before {
	content: "\e0c0";
}
.icon-wrench:before {
	content: "\e0c1";
}
.icon-unlocked:before {
	content: "\e0c2";
}
.icon-lock:before {
	content: "\e0c3";
}
.icon-key:before {
	content: "\e0c4";
}
.icon-contract:before {
	content: "\e0c6";
}
.icon-quotes-left:before {
	content: "\e0cb";
}
.icon-busy:before {
	content: "\e0cc";
}
.icon-binoculars:before {
	content: "\e0cd";
}
.icon-search:before {
	content: "\e0ce";
}
.icon-zoom-in:before {
	content: "\e0cf";
}
.icon-zoom-out:before {
	content: "\e0d0";
}
.icon-contract-2:before {
	content: "\e0d2";
}
.icon-bubbles-2:before {
	content: "\e0d1";
}
.icon-bubble-2:before {
	content: "\e0d3";
}
.icon-bubbles-3:before {
	content: "\e0d4";
}
.icon-bubbles-4:before {
	content: "\e0d5";
}
.icon-bubble-3:before {
	content: "\e0d6";
}
.icon-disk:before {
	content: "\e0d7";
}
.icon-screen:before {
	content: "\e0d8";
}
.icon-laptop:before {
	content: "\e0d9";
}
.icon-mobile:before {
	content: "\e0da";
}
.icon-mobile-2:before {
	content: "\e0db";
}
.icon-tablet:before {
	content: "\e0dc";
}
.icon-tv:before {
	content: "\e0dd";
}
.icon-upload-3:before {
	content: "\e0de";
}
.icon-storage:before {
	content: "\e0df";
}
.icon-print:before {
	content: "\e0e0";
}
.icon-keyboard:before {
	content: "\e0e1";
}
.icon-credit:before {
	content: "\e0e2";
}
.icon-calculate:before {
	content: "\e0e3";
}
.icon-support:before {
	content: "\e0e4";
}
.icon-phone:before {
	content: "\e0e5";
}
.icon-phone-hang-up:before {
	content: "\e0e6";
}
.icon-address-book:before {
	content: "\e0e7";
}
.icon-notebook:before {
	content: "\e0e8";
}
.icon-envelop:before {
	content: "\e0e9";
}
.icon-pushpin:before {
	content: "\e0ea";
}
.icon-location:before {
	content: "\e0eb";
}
.icon-location-2:before {
	content: "\e0ec";
}
.icon-compass:before {
	content: "\e0ed";
}
.icon-map:before {
	content: "\e0ee";
}
.icon-map-2:before {
	content: "\e0ef";
}
.icon-history:before {
	content: "\e0f0";
}
.icon-clock:before {
	content: "\e0f1";
}
.icon-clock-2:before {
	content: "\e0f2";
}
.icon-alarm:before {
	content: "\e0f3";
}
.icon-coin:before {
	content: "\e0f5";
}
.icon-cart:before {
	content: "\e0f8";
}
.icon-ticket:before {
	content: "\e0f9";
}
.icon-qrcode:before {
	content: "\e0fa";
}
.icon-barcode:before {
	content: "\e0fb";
}
.icon-tags:before {
	content: "\e0fc";
}
.icon-tag:before {
	content: "\e0fd";
}
.icon-folder-open:before {
	content: "\e0fe";
}
.icon-folder:before {
	content: "\e0ff";
}
.icon-stack:before {
	content: "\e100";
}
.icon-paste:before {
	content: "\e101";
}
.icon-paste-2:before {
	content: "\e102";
}
.icon-paste-3:before {
	content: "\e103";
}
.icon-copy:before {
	content: "\e104";
}
.icon-copy-2:before {
	content: "\e105";
}
.icon-copy-3:before {
	content: "\e106";
}
.icon-file:before {
	content: "\e107";
}
.icon-film:before {
	content: "\e108";
}
.icon-camera:before {
	content: "\e109";
}
.icon-dice:before {
	content: "\e10a";
}
.icon-book:before {
	content: "\e10b";
}
.icon-books:before {
	content: "\e10c";
}
.icon-bullhorn:before {
	content: "\e10d";
}
.icon-library:before {
	content: "\e10e";
}
.icon-play:before {
	content: "\e113";
}
.icon-headphones:before {
	content: "\e114";
}
.icon-music:before {
	content: "\e115";
}
.icon-camera-2:before {
	content: "\e116";
}
.icon-images:before {
	content: "\e117";
}
.icon-image:before {
	content: "\e118";
}
.icon-paint-format:before {
	content: "\e11a";
}
.icon-droplet:before {
	content: "\e11b";
}
.icon-office:before {
	content: "\e11d";
}
.icon-home:before {
	content: "\e11e";
}
.icon-quill:before {
	content: "\e11f";
}
.icon-cancel:before {
	content: "\e120";
}
.icon-pencil:before {
	content: "\e033";
}
.icon-play-2:before {
	content: "\e029";
}
.icon-edit:before {
	content: "\e02b";
}
.icon-menu:before {
	content: "\e009";
}
.icon-next:before {
	content: "\e02a";
}
.icon-prev:before {
	content: "\e02c";
}
